$text_default_color: #333;
$text_light_gray: rgba(0, 0, 0, 0.45);
$text_lighter_gray: rgba(3, 30, 40, 0.3);
$text_dark_gray: #545454;
$text_new_gray: #434D72;

$primary_color: #0b687c;
$secondary_color: #1c2f4a;
$tertiary_color: #4f789c;

$primary_light_color: #92b6cc;

$background_white: #ffffff;

$ela_red: #9b5f52;
$ela_green: #5e8787;
