
@import "../../../../style/variable";

.p_Profile {
  text-align: left;

  .ant-btn-primary {
    margin-right: $gap_0;
  }

  .gridCol {
    padding: 0 $gap_2;
    margin: $gap_0 0;
  }

  .form-wrapper {
    padding: $gap_2 0;
  }
}
