//
// Main navbar
//

// Vendor
@import "vendor/rfs";

// Deprecate
@import "mixins/deprecate";

// Stuff
@import "_functions.scss";
@import "_variables.scss";
@import "mixins/breakpoints.scss";

.bd-navbar {
  min-height: 4rem;
  background-color: #0958a7;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);

  @include media-breakpoint-down(md) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      margin-top: 0.25rem;
      overflow: hidden;

      .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1071; // over everything in bootstrap
    }
  }

  .navbar-nav {
    .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #0958a7;

      &.active,
      &:hover {
        color: #ffffff;
        background-color: transparent;
      }

      &.active {
        font-weight: 600;
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    @include font-size(0.875rem);
  }

  .dropdown-item.active {
    font-weight: 600;
    color: #6d6d6d;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 0.4rem 0.6rem;
    background-size: 0.75rem 0.75rem;
  }
}

// stylelint-disable declaration-no-important

.bd-masthead {
  position: relative;
  padding: 3rem ($grid-gutter-width / 2);
  // background-image: linear-gradient(45deg, #fafafa, #f5f5f5);

  h1 {
    @include font-size(4rem);
    line-height: 1;
  }

  .btn {
    padding: .8rem 2rem;
    font-weight: 600;
    @include font-size(1.25rem);
  }

  .carbonad {
    margin-top: 0 !important;
    margin-bottom: -3rem !important;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .carbonad {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-up(md) {
    .carbonad {
      margin-top: 3rem !important;
    }
  }
}

.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}

.masthead-followup {
  .bd-clipboard { display: none; }

  .highlight {
    padding: .5rem 0;
    background-color: transparent;
  }
}
