@import "../../../style/variable";
@import "../../../style/color";

.c_Header {
  height: auto !important;

  .fill-profile-toast {
    background: $cr_dark_color;
    color: $primary_color;
    height: $gap_3;
    line-height: $gap_3;
    text-align: center;
  }

  .ant-menu-item.logo {
    &:hover {
      border-bottom: none;
    }
  }

  .toast-close-container {
    margin-right: $gap_1;
    font-size: 18px;
  }

  .language-dropdown {
    &:not(.mobile) {
      padding-top: 26px;
    }

    .ant-select-selection {
      border: none;
      box-shadow: none;
    }

    .ant-select-arrow {
      display: none;
    }

    .ant-dropdown-link {
      padding-left: 11px;
      padding-right: 11px;
    }

  }

  .ant-dropdown-link {
    &:hover svg path {
      fill: #43AF92;
    }

    svg {
      vertical-align: middle;
    }
  }

  .c_MenuItem {
    padding-left: $gap_0;
    padding-right: $gap_0;
  }

  .language-us {
    position: absolute;
    top: 4.5px;
  }
}

.language-menu {
  width: 140px;
  max-height: 196px;
  overflow: auto;

  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .language-us {
    width: 51px;
    height: 17px;

    padding-left: 5px;
    color: #000000;
    font-family: Synthese;
    line-height: normal;
    font-size: 14px;
    font-weight: 200;
  }

  .language-cn {
    width: 49px;
    height: 21px;

    padding-left: 5px;
    color: #000000;
    font-family: Microsoft YaHei;
    line-height: normal;
    font-size: 11px;
  }
}
