

@import url("https://use.typekit.net/ild6syp.css");

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-family: "Bio Sans", sans-serif;
}

.normal {
  font-weight: 400;
}

.text-white {
  color: #ffffff;
}
