
.c_Header {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.c_Header .logo {
    width: 228px;
    padding: 24px 8px;
    line-height: 20px;
    float: left;
}

.c_Header .cr-menu {
    float: right;
    font-family: "Chinese Quote", "Synthese", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;

    margin-right: 36px;
}

.c_Header .cr-menu-lang img {
    position: relative;
    top: -4px;
}

.c_Header .cr-menu > li {
    float: left;
    padding-top: 48px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 18px;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.c_Header .cr-menu > li a {
    color: rgba(0, 0, 0, 0.65);
}

.c_Header .cr-menu > li:hover a {
    color: #43af92;
    border-bottom-color: #43af92;
    transition-duration: 0.3s;

    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.c_Header .cr-menu > li:hover {
    border-bottom-color: #43af92;
    transition-duration: 0.3s;

    transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.c_Header .logo img {
    height: 60px;
}

.c_Header .alpha-tag {
    text-align: right;
    font-family: 'Synthese', 'Montserrat', sans-serif;
    color: #43af92;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.66;
}

.c_Header .c_MenuItem.mobile, .logo .mob {
    display: none
}


@media screen and (max-width: 768px) {
    .c_Header .logo .dsk {
        display: none
    }

    .c_Header .logo .mob {
        display: block;
        width: 35px
    }
}
