.whitepaper {
  max-width: 1200px;
  margin: auto;

  .title {
    font-size: 50px;
    line-height: 50px;
    padding: 25px 0 0 25px;
    margin: 70px 0 0 0;
  }

  .ant-collapse.ant-collapse-borderless .ant-collapse-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 13px 0;
  }
  .ant-collapse .ant-collapse-item .ant-collapse-header {
    color: #7f7f7f;
    font-size: 20px;
    line-height: 28px;
    .ant-collapse-arrow {
      transition: transform 500ms;
    }
  }
  .ant-collapse .ant-collapse-item-active .ant-collapse-header {
    color: #000;
    .ant-collapse-arrow {
      transform: rotate(180deg);
    }
  }

  .ant-collapse-content-box {
    ul, ol {
      padding-left: 1em;
    }
    p, ul, ol {
      margin: 0 75px;
      padding-bottom: 24px;
      li {
        padding-left: 1em;
        padding-bottom: 20px;
      }
    }
    h3 {
      margin: 0 45px;
      font-size: 17px;
      color: #000;
    }
  }
}