.DS_Store
/DerivedData
/Build
xcuserdata
/Docs
/Pods

/Podfile.lock
/Products
/ElastosDIDSDK.xcworkspace

/node_modules
/package-lock.json

/Externals/HDKey/lib/-iphoneos
/Externals/HDKey/lib/-iphoneosimulator
/Externals/HDKey/lib/macos
/Externals/SPVAdapter/SPVAdapter/lib/-iphoneos
/Externals/SPVAdapter/SPVAdapter/lib/-iphoneosimulator
/Externals/SPVAdapter/SPVAdapter/lib/macos

