# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# eclipse specific git ignore
.project
.metadata
.classpath
.settings
.loadpath
target
bin
local.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# ANTLR ignores
*.interp
*.tokens

# Visual Studio Code
.vscode
