*.o
*.lo
*.a
*.so
*.swp
*.patch
*.dylib
.DS_Store
xcuserdata
*.pbxuser
*.xcuserstate
tags
/build/_dist
/build/_build
build/.android-toolchain
.compile_status
.config_status
.install_status
.source_status

/src/carrier/elacp_generated.h
/apps/shell/elashell

