{
  "Configuration": {
    "ActiveNet": "main",
    "Magic": 7630401,
    "Version": 23,
    "SeedList": [
      "127.0.0.1:30338"
    ],
    "HttpInfoPort": 20333,
    "HttpInfoStart": true,
    "HttpRestPort": 20334,
    "HttpWsPort": 20335,
    "HttpJsonPort": 20336,
    "NodePort": 20338,
    "PrintLevel": 0,
    "MaxLogsSize": 0,
    "MaxPerLogSize": 0,
    "MinCrossChainTxFee": 10000,
    "PowConfiguration": {
      "PayToAddr": "8VYXVxKKSAxkmRrfmGpQR2Kc66XhG6m3ta",
      "AutoMining": true,
      "MinerInfo": "ELA",
      "MinTxFee": 100,
      "InstantBlock": false
    },
    "RpcConfiguration": {
      "User": "ElaUser",
      "Pass": "Ela123",
      "WhiteIPList": [
        "127.0.0.1"
      ]
    },
    "EnableArbiter": false,
    "ArbiterConfiguration": {
      "Magic": 7630403,
      "IPAddress": "192.168.0.1",
      "NodePort": 30338,
      "ProtocolVersion": 0,
      "Services": 0,
      "PrintLevel": 1,
      "SignTolerance": 5,
      "MaxLogsSize": 0,
      "MaxPerLogSize": 0,
      "OriginArbiters": [
        "02f3876d0973210d5af7eb44cc11029eb63a102e424f0dc235c60adb80265e426e",
        "03c96f2469b43dd8d0e6fa3041a6cee727e0a3a6658a9c28d91e547d11ba8014a1",
        "036d25d54fb7a40bc7c3e836a26c9e30d5294bc46f6918ad61d0937960f13307bc",
        "0248ddc9ac60f1e5b9e9a26719a8a20e1447e6f2bbb0d31597646f1feb9704f291",
        "02e34e47a06955ef1ec0d325c9edada34a0df6e519530344cc85f5942d061223b3"
      ],
      "CRCArbiters": [
        {
          "PublicKey": "02eae9164bd143eb988fcd4b7a3c9c04a44eb9a009f73e7615e80a5e8ce1e748b8",
          "NetAddress": "127.0.0.1:10078"
        },
        {
          "PublicKey": "0294d85959f746b8e6e579458b41eea05afeae50f5a37a037de601673cb24133d9",
          "NetAddress": "127.0.0.1:10178"
        },
        {
          "PublicKey": "03b0a3a16edfba8d9c1fed9094431c9f24c78b8ceb04b4b6eeb7706f1686b83499",
          "NetAddress": "127.0.0.1:10278"
        },
        {
          "PublicKey": "0222461ae6c9671cad288f10469f9fd759912f257c64524367dc12c40c2bb4046d",
          "NetAddress": "127.0.0.1:10378"
        }
      ],
      "NormalArbitratorsCount": 24,
      "CandidatesCount": 72,
      "EmergencyInactivePenalty": 50000000000,
      "MaxInactiveRounds": 1440,
      "InactivePenalty": 10000000000,
      "InactiveEliminateCount": 12,
      "EnableEventRecord": false,
      "PreConnectOffset": 360
    },
    "CheckAddressHeight": 88812,
    "VoteStartHeight": 88812,
    "CRCOnlyDPOSHeight": 1008812,
    "PublicDPOSHeight": 1108812
  }
}
