{
  "Configuration": {
    "Magic": 7630401,
    "Version": 23,
    "SeedList": [
      "127.0.0.1:30338"
    ],
    "HttpInfoPort": 20333,
    "HttpInfoStart": true,
    "HttpRestPort": 20334,
    "HttpWsPort": 20335,
    "WsHeartbeatInterval": 60,
    "HttpJsonPort": 20336,
    "NodePort": 20338,
    "NodeOpenPort": 20866,
    "OpenService": true,
    "PrintLevel": 0,
    "MaxLogsSize": 0,
    "MaxPerLogSize": 0,
    "IsTLS": false,
    "CertPath": "./sample-cert.pem",
    "KeyPath": "./sample-cert-key.pem",
    "CAPath": "./sample-ca.pem",
    "MultiCoreNum": 4,
    "MaxTransactionInBlock": 10000,
    "MaxBlockSize": 8000000,
    "MinCrossChainTxFee": 10000,
    "PowConfiguration": {
      "PayToAddr": "8VYXVxKKSAxkmRrfmGpQR2Kc66XhG6m3ta",
      "AutoMining": true,
      "MinerInfo": "ELA",
      "MinTxFee": 100,
      "ActiveNet": "TestNet"
    },
    "VoteHeight": 100,
    "EnableArbiter": false,
    "ArbiterConfiguration": {
      "Name": "",
      "Magic": 7630403,
      "NodePort": 30338,
      "ProtocolVersion": 0,
      "Services": 0,
      "PrintLevel": 1,
      "SignTolerance": 5,
      "MaxLogsSize": 0,
      "MaxPerLogSize": 0,
      "MaxConnections": 100,
      "NormalArbitratorsCount": 5,
      "CandidatesCount": 0,
      "EmergencyTriggerTimeSpan": 3600,
      "EmergencyDuration": 604800,
      "InactivePercentage": 0.1,
      "MaxAllowedInactiveRounds": 3,
      "InactiveDuration": 604800
    },
    "RpcConfiguration": {
      "User": "ElaUser",
      "Pass": "Ela123" ,
      "WhiteIPList":[
        "127.0.0.1"
      ]
    },
    "HeightVersions": [
      0,
      88812,
      1008812,
      1108812
    ]
  }
}
