{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/elastos_trinity.css' %}" />
    {% block scripts_elastos_trinity %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row flex-xl-nowrap elastos-trinity">
        <div class="col-12 col-xl-12 bd-content" role="main">
            <div class="elastos-trinity-content">
                <h2>
                    {% block elastos_trinity_title %}{% endblock %}
                </h2>
                <div class="row justify-content-center">
                    <div class="col-5 dashboard-section">
                        <p class="dashboard-header" style="margin: 20px 20px 32px 20px">
                            Top By Download
                        </p>
                        {% for app in top_downloads %}
                            <div class="row" style="margin-left: 15px; margin-right: 15px">
                                <div class="col d-flex align-items-center justify-content-left">
                                    <img class="rounded mx-auto d-block" src="{{ app.icon_url }}" alt="Card image" style="max-width: 100px; max-height: 150px; object-fit: contain">
                                </div>
                                <div class="col-7">
                                    <p class="dapp-top-name font-weight-bold" style="margin-bottom: 0px">
                                        {{ app.appName }}
                                    </p>
                                    <p class="dapp-top-category" style="margin-bottom: 0px">
                                        {{ app.category }} 
                                    </p>
                                </div>
                                <div class="col" style="display: flex; align-items: center;">
                                    <a href="{{ app.download_url }}" class="btn btn-secondary rounded-pill download" style="margin: 0px">Download</a>
                                </div>
                            </div>
                            <div class="divider" style="margin-top: 20px !important;"></div>
                        {% endfor %}
                    </div>
                    <div class="col-5 dashboard-section">
                        <p class="dashboard-header" style="margin: 20px 20px 32px 20px">
                            Top By Category
                        </p>
                        {% for app in top_downloads %}
                            <div class="row" style="margin-left: 15px; margin-right: 15px">
                                <div class="col d-flex align-items-center justify-content-left">
                                    <img class="rounded mx-auto d-block" src="{{ app.icon_url }}" alt="Card image" style="max-width: 100px; max-height: 150px; object-fit: contain">
                                </div>
                                <div class="col-7">
                                    <p class="dapp-top-name font-weight-bold" style="margin-bottom: 0px">
                                        {{ app.appName }}
                                    </p>
                                    <p class="dapp-top-category" style="margin-bottom: 0px">
                                        {{ app.category }} 
                                    </p>
                                </div>
                                <div class="col" style="display: flex; align-items: center;">
                                    <a href="{{ app.download_url }}" class="btn btn-secondary rounded-pill download" style="margin: 0px">Download</a>
                                </div>
                            </div>
                            <div class="divider" style="margin-top: 20px !important;"></div>
                        {% endfor %}
                    </div>
                </div>
                <div  style="margin: 0px 30px 40px 40px">
                    {% block elastos_trinity %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
