{% extends 'layout.html' %}
{% load static %}

{% block scripts %}
    <script>
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
    </script>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-info">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="row align-items-center justify-content-center">
        <div class="col-md-16">
            <h2>Elastos - Build decentralized and scalable apps</h2>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-16">
            <a href="{%  url 'login:sign_in' %}">
                <button style="text-align: center">Login with Elastos DID</button>
            </a>
        </div>
    </div>
{% endblock %}