<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <title>Nucleus Console</title>
    <meta charset="UTF-8">
    <link href="{% static "/css/styles.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content %}
    <nav style="background-color: whitesmoke; padding-bottom:10px">
    <div class="nav-wrapper">
      <a style="color:black; font-size: x-large" href="login/home.html"> <img src="{% static '/Images/Logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="Elastos logo">
      Nucleus Console
      </a>
    </div>
  </nav>

<div class="row">
  <div class="column">
    <h4>Elastos - Build decentralized and scalable apps</h4>
      <hr size="20" color="black" width="580" align="left"/> <br>

    <a href="{%  url 'login' %}">
        <button style="text-align: center">Login with Elastos DID</button>
    </a>
  </div>
</div>

    <script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>

{% endblock %}

</body>
</html>