<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Service base</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    {% block scripts %}
    {% endblock %}
    <div id = "navbar">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static '/Images/Logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Elastos logo">
                Nucleus
            </a>
            <button type="button" style="background: transparent ; border: #4f4f4f" data-toggle="collapse" data-target="#topbar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>Services Dropdown</span>
            </button>
        </nav>
        <div class="pos-f-t">
          <div class="collapse" id="topbar">
            <div class="bg-light p-2">
              <h5 class="text-black h4">Collapsed content</h5>
                <p1> all of the services can be added here</p1>
            </div>
          </div>
        </div>
        </div>
</head>
<body>
    <div class="container-fluid h-100 pt-5">
        <div class="row h-100">
            <div class="col-sm-2 ml-3" style = "border: 2px solid black ; border-radius: 8px; height: 100vh" >
                <span>
                    {% block sidebarContent %}

                    {% endblock %}
                </span>
            </div>
            <div class="col-sm-1" > </div>
            <div class = "col-lg  mr-3" style = "border: 2px solid black ; border-radius: 8px; height: 100vh">
                <span>
                    {% block functionContent %}

                    {% endblock %}
                </span>
            </div>
        </div>
    </div>
</body>
</html>