container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "console_main.settings"
    PYTHONPATH: "$PYTHONPATH"
    SECRET_KEY: "Placeholder"
    DEBUG: "Placeholder"
    SUPERUSER_USER: "Placeholder"
    SUPERUSER_PASSWORD: "Placeholder"
    ALLOWED_HOSTS: "Placeholder"
    SIGNING_KEY: "Placeholder"
    SIGNING_SALT: "Placeholder"
    APP_URL: "Placeholder"
    ELA_PUBLIC_KEY: "Placeholder"
    ELA_DID: "Placeholder"
    ELA_APP_NAME: "Placeholder"
    ELA_APP_ID: "Placeholder"
    EMAIL_USE_TLS: "Placeholder"
    EMAIL_HOST: "Placeholder"
    EMAIL_HOST_USER: "Placeholder"
    EMAIL_HOST_PASSWORD: "Placeholder"
    EMAIL_PORT: "Placeholder"
    PRODUCTION: "Placeholder"
    SHARED_SECRET_ADENINE: "Placeholder"
    GRPC_SERVER_HOST: "Placeholder"
    GRPC_SERVER_PORT: "Placeholder"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "console_main/wsgi.py"
    StaticFiles: "/static/=www/static/"