Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: "ELB"
      HealthCheckGracePeriod: "600"

container_commands:
  01_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  02_setup_cache_headers_apache:
    command: "cp .ebextensions/enable_cache_headers.conf /etc/httpd/conf.d/enable_cache_headers.conf"
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
  05_createsu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    LOG_DIR: "/opt/python/log"
    DJANGO_SETTINGS_MODULE: "console_main.settings"
    PYTHONPATH: "$PYTHONPATH"
    SECRET_KEY: "Placeholder"
    DEBUG: "Placeholder"
    SUPERUSER_USER: "Placeholder"
    SUPERUSER_PASSWORD: "Placeholder"
    ALLOWED_HOSTS: "Placeholder"
    SIGNING_KEY: "Placeholder"
    SIGNING_SALT: "Placeholder"
    APP_URL: "Placeholder"
    ELA_PUBLIC_KEY: "Placeholder"
    ELA_DID: "Placeholder"
    ELA_APP_NAME: "Placeholder"
    ELA_APP_ID: "Placeholder"
    EMAIL_USE_TLS: "Placeholder"
    EMAIL_HOST: "Placeholder"
    EMAIL_HOST_USER: "Placeholder"
    EMAIL_HOST_PASSWORD: "Placeholder"
    EMAIL_PORT: "Placeholder"
    PRODUCTION: "Placeholder"
    SHARED_SECRET_ADENINE: "Placeholder"
    GRPC_SERVER_HOST: "Placeholder"
    GRPC_SERVER_PORT: "Placeholder"
  "aws:elasticbeanstalk:container:python":
    NumProcesses: 4
    NumThreads: 10
    WSGIPath: "console_main/wsgi.py"
    StaticFiles: "/static/=www/static/"
  "aws:elasticbeanstalk:cloudwatch:logs":
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30
