/*****************/

body {
  margin: 0;
  height: 520;
  width: 780;
  -webkit-app-region: drag;
  background-color: rgba (0, 0, 0);
}

button,
a,
img {
  -webkit-app-region: drag;
}



@font-face {
  font-family: "BioSans-Regular";
  src: url("artwork/biosans-regular.otf");
}

@font-face {
  font-family: "BioSans-Regular";
  src: url("artwork/biosans-semibold.otf");
  font-weight: 600;
}

 /* html {
  font-family: "BioSans-Regular", sans-serif ;
  font-size: 10px;
  text-align: center;
  margin: 0;
}
*/

.display_inline_block {
  display: inline-block;
}

.gradient-font {
	background: linear-gradient(160deg, rgba(229,167,118,1), rgba(244,210,174,1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.ta_left {
  text-align: left;
}

.ta_center {
  text-align: center;
}

.va_top {
  vertical-align: top;
}

.va_bottom {
  vertical-align: bottom;
}

.bordered {
  border: solid;
  border-width: 1px;
  border-color: gray;
}

.gridback {
  display: grid;
  grid-template-areas: 
  'left top-center top-right'
  'left bottom-right bottom-right';
  background-image: url(artwork/BG7.svg);
  border-radius: 40px;
  position: relative;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 309px auto;
}

.nav-icon {
  top: 33px;
  left: 734px;
  position: absolute;
}

.refresh-icon {
  top: 28px;
  left: 695px;
  position: absolute;
}

.system-icon {
  top: 33px;
  left: 28px;
  position: absolute;
}

.logoimage {
  top: 83px;
  left: 57px;
  position: absolute;
 

}

.pricearea > * {
  position: absolute;
}

.balance {
  opacity: 0.8;
  transform: rotate(-90deg);
  font-size: 10.03px;
  color: #B2B4C3;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  top: 191.49px;
  margin: 0;
}

.usd-head {
  font-size: 16.71px;
  color: #FFFFFF;
  letter-spacing: 0;
  top: 170px;
  left: 57px;
  position: absolute;
  margin: 0;
}

.usd-balance {
  font-size: 35.66px;
  color: #FFFFFF;
  letter-spacing: 0;
  top: 186px;
  left: 57px;
  margin: 0;
  position: absolute;
  font-weight: 600;
}


.ela-balance {
  font-size: 13.37px;
  letter-spacing: 0;
  text-shadow: 0 2px 4px rgba(79,72,141,0.15);
  top: 228px;
  left: 57px;
  position: absolute;
  margin: 0;
}

.stakingarea > * {
  position: absolute;
  margin: 0;

}

.stakingtitle {
  opacity: 0.8;
  transform: rotate(-90deg);
  font-size: 10.03px;
  color: #B2B4C3;
  letter-spacing: 0;
  text-align: center;
  top: 301.13px;

}

.candidate-total {
font-size: 7.8px;
color: #B2B4C3;
letter-spacing: 0;
left: 57px;
top: 291.13px;

}

.votenow {
  font-size: 16.71px;
  letter-spacing: 0;
  text-shadow: 0 2px 4px rgba(79,72,141,0.15);
  left: 57px;
  bottom: 195.875;
}

.arrow-right {

}

#scroll-radio {
  left: 57px;
  top: 390.56px;
  position: absolute;

}

#scroll-radio input[type="radio"] {


}



.article-days {
  font-size: 7.8px;
  color: #9799A6;
  letter-spacing: 0;
  left: 57px;
  top: 372.17px;
  position: absolute;
}

.article-title {
  font-size: 13.37px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 600;
  left: 57px;
  top: 384.43px;
  width: 106px;
  position: absolute;
  text-align: left;
}


.send-area {
  opacity: 0.9;
  background-image: linear-gradient(-180deg, #33373D 0%, rgba(51,55,61,0.00) 130%);
  border-radius: 0 0 16.71px 16.71px;

}

.next-button {
  background: rgba(151,153,166,0.16);
  border-radius: 5.57px;
  top: 248.49px;
  left: 293.61px;
  position: absolute;
  margin: 0;
  height: 34.54px;
  width: 97.5px;
  font-weight: 600;
  font-size: 10.03px;
  color: #FFFFFF;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.next-button:active,
.next-button:hover {
  background: linear-gradient(160deg, rgba(229,167,118,1), rgba(244,210,174,1));

}

.send-text {
  font-weight: 600;
  font-size: 13.37px;
  color: #FFFFFF;
  letter-spacing: 0;
  position: absolute;
  top: 53.49px;
  left: 314.23px;
  margin: 0;
  line-height: 1.5;
}
.send-icon {
  position: absolute;
  top: 57.94px;
  left: 295.29px;

}

#ela-address__input {
  opacity: 0.3;
  background: rgba(168,170,174,0.22);
  border-radius: 6.69px;
  position: absolute;
  font-size: 8.91px;
  color: #FFFFFF;
  letter-spacing: 0;
  height: 46.8px;
  width: 194.44px;
  top: 95.27px;
  left: 293.06px;
  text-align: center;
  border: none;
  text-align: left;
  padding-left: 10px;
  
}

#ela-address__input::placeholder {
  opacity: 1;
  font-size: 8.91px;
  color: #FFFFFF;
  letter-spacing: 0;
}



#ela-send__amount {
  height: 23.4px;
  width: 194.44px;
  top: 170px;
  left: 293.06px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #E5A776;
  border-radius: 0.28px;;
  background: none;
  position: absolute;
  font-family: BioSans-Bold;
  font-size: 13.37px;
  color: #FFFFFF;

}

.quick-elaselector {
position: absolute;
top: 175px;
left: 390px;

}

.quick-elaselector button {
  opacity: 0.5;
  border: 0.5px solid #787981;
  border-radius: 3px;
  font-size: 8.91px;
  color: #B2B4C3;
  letter-spacing: 0;
  text-align: center;
  padding: 1px;
  background: none;
  margin: 0 3px;
}

.elatext-send {
  font-size: 600;
  font-size: 11.14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 468px;
  margin: 0;
}


.receive-area > * {
position: absolute;
margin: 0;
}

.rec-text {
  font-weight: 600;
  font-size: 13.37px;
  color: #FFFFFF;
  letter-spacing: 0;
  top: 53.49px;
  left: 579.43px;
  line-height: 1.5;
}
.rec-icon {
  top: 57.94px;
  left: 560.49px;
  transform: rotate(180deg);
}

.address-text {
  opacity: 0.8;
  font-size: 10.03px;
  color: #B2B4C3;
  letter-spacing: 0;
  text-align: center;
  left: 560.49px;
  top: 88.03px;
}

.address-ex {
  font-size: 8.91px;
  color: #FFFFFF;
  letter-spacing: 0;
  top: 115.5px;
  left: 591.13px;


}


.copy-button {
  left: 560.49px;
  top: 110px;
  background: none;
  margin: 0;
  border: none;
  height: 26px;
  width: 26px;  
 padding: 0;}

.copy-icon {
  left: 560.49px;
  top: 110px;
}

.qr-icon {
  left: 560.49px;
  top: 152px;
}

.scanqr-text {
  opacity: 0.7;
  font-size: 7.8px;
  color: #9799A6;
  letter-spacing: 0;
  line-height: 11.14px;
  left: 628px;
  top: 156px;

}

.howqr-text {
  font-family: BioSans-Regular;
  font-size: 8.91px;
  letter-spacing: 0;
  line-height: 11.14px;
  left: 628px;
  top: 184px;
}

.rec-separator {
  left: 560.49px;
  top: 227px;

}

.ledger-heading {
  font-size: 10.03px;
  color: #FFFFFF;
  letter-spacing: 0;
  left: 560.49px;
  top: 247.37px;
}

.ledger-icon {
  left: 560.49px;
  top: 272;
}

.verifyledger-text {
  font-size: 7.8px;
  color: #C0C2CA;
  letter-spacing: 0;
  line-height: 11.14px;
  left: 611px;
  top: 273px;
}

.transaction-area{
  grid-area: bottom-right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.transactions-heading {
  font-weight: 600;
  font-size: 13.37px;
  color: #FFFFFF;
  letter-spacing: 0;
  position: absolute;
  left: 295.29px;
  top: 329.83;
  margin: 0;
  line-height: 1.5;
}

.blockcount {
  opacity: 0.7;
  font-size: 7.8px;
  color: #9799A6;
  letter-spacing: 0;
  line-height: 11.14px;
  top: 334.84px;
  left: 660.21px;
  text-align: right;
  position: absolute;
  vertical-align: center;
}

.txtable {

  margin-left: 20px;
  margin-bottom: 25px;
  width: 100%;
  border-spacing: 0 5px;
}

.txtable-headrow {
  font-size: 6.13px;
  color: #B2B4C3;
  letter-spacing: 0.26px;

}


.txtable-row {
  background-image: linear-gradient(90deg, rgba(23,24,28,0.45) 0%, rgba(26,26,30,0.17) 100%);
  border-top: 2px solid transparent;
  border-radius: 5.57px;
  font-size: 7.8px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 11.14px;
  width: 474.34px;
  height: 35.66;
}

.txtable-row td:first-child,
.txtable-headrow td:first-child{
  padding-left: 20px;
  border-radius: 5.57px 0px 0 5.57px;
}

.txtable-row td:last-child {
  border-radius: 0 5.57px 5.57px 0;
}

.dark-font {
  color: #B2B4C3;

}

.w780h520px {
  width: 780px;
  height: 520px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  bottom: 15px;
  left: 15px;
  width: 33%;
  text-align: left;
  height: 30px;
  align-items: center;
  flex-flow: row;
  justify-content: flex-start;
}

footer div {
  display: inline-block;
  align-self: flex-end;

}

.logout-text {
  opacity: 0.9;
  font-size: 8.91px;
  color: #9799A6;
  letter-spacing: 0;
  text-align: center;
  vertical-align: center;
  position: relative;
  padding-right: 10px;
  align-self: flex-end;
  display: inline-block;
}

.logout-image {
vertical-align: middle;
align-self: flex-end;
display: inline-block;
}



.font_sans_10 {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.font_size24 {
  font-size: 24px;
}

.font_size12 {
  font-size: 12px;
}

.display_inline_block {
  display: inline-block;
}

.ta_left {
  text-align: left;
}

.ta_right {
  text-align: right;
}

.ta_center {
  text-align: center;
}

.margin_none {
  margin: 0;
}

.va_top {
  vertical-align: top;
}

.va_bottom {
  vertical-align: bottom;
}

.bordered {
  border: solid;
  border-width: 1px;
  border-color: gray;
}

.w750h520px {
  width: 750px;
  height: 520px;
}

.w100pct {
  width: 100%;
}

.w40pct {
  width: 40%;
}

.w30pct {
  width: 30%;
}

.w500px {
  width: 500px;
}

.w400px {
  width: 400px;
}

.w250px {
  width: 250px;
}

.w200px {
  width: 200px;
}

.w150px {
  width: 150px;
}

.w100px {
  width: 100px;
}

.w50px {
  width: 50px;
}

.w25px {
  width: 25px;
}

.h520px {
  height: 520px;
}

.h400px {
  height: 400px;
}

.h300px {
  height: 300px;
}

.h200px {
  height: 200px;
}

.h110px {
  height: 110px;
}

.h90px {
  height: 90px;
}

.h50px {
  height: 50px;
}

.h30px {
  height: 30px;
}

.h20px {
  height: 20px;
}

.exit_link {
  text-decoration: none;
  color: white;
}

.exit_link:visited {
  color: white;
}

.exit_link:active {
  color: #AAA;
}

.exit_link:hover {
  color: #AAA;
}

.color_orange {
  color: orange;
}

.color_white {
  color: white;
}

.bgcolor_red {
  background-color: red;
}

.bgcolor_black {
  background-color: black;
}

.bgcolor_black_hover {
  background-color: black;
}

.bgcolor_black_hover:hover {
  background-color: #333;
}

.position_relative {
  position: relative;
}

.no_padding {
  padding: 0;
}

.no_border {
  border: 0;
}

.rotate_n90 {
  position: absolute;
  top: 75px;
  left: 0px;
  transform-origin: 0px 0px;
  transform: rotate(-90deg);
}

.monospace {
  font-family: 'monospace'
}

.overflow_auto {
  overflow: auto;
}

.td_linethrough {
  text-decoration: line-through;
}

