select, input {
  background-color: black;
  color: white;
  font-size: 12px;
}

.centered_img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  margin: auto;
}

.font_sans_10 {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.font_size24 {
  font-size: 24px;
}

.font_size12 {
  font-size: 12px;
}

.display_inline_block {
  display: inline-block;
}

.display_inline {
  display: inline;
}

.display_none {
  display: none;
}

.ta_left {
  text-align: left;
}

.ta_right {
  text-align: right;
}

.ta_center {
  text-align: center;
}

.margin_none {
  margin: 0;
}

.va_top {
  vertical-align: top;
}

.va_bottom {
  vertical-align: bottom;
}

.va_center {
  vertical-align: center;
}

.bordered {
  border: solid;
  border-width: 1px;
  border-color: gray;
}

.w750h520px {
  width: 750px;
  height: 520px;
}

.w100pct {
  width: 100%;
}

.w40pct {
  width: 40%;
}

.w30pct {
  width: 30%;
}

.w750px {
  width: 750px;
}

.w500px {
  width: 500px;
}

.w450px {
  width: 450px;
}

.w400px {
  width: 400px;
}

.w250px {
  width: 250px;
}

.w200px {
  width: 200px;
}

.w150px {
  width: 150px;
}

.w100px {
  width: 100px;
}

.w50px {
  width: 50px;
}

.w25px {
  width: 25px;
}

.h520px {
  height: 520px;
}

.h400px {
  height: 400px;
}

.h300px {
  height: 300px;
}

.h200px {
  height: 200px;
}

.h180px {
  height: 180px;
}

.h110px {
  height: 110px;
}

.h90px {
  height: 90px;
}

.h50px {
  height: 50px;
}

.h40px {
  height: 40px;
}

.h30px {
  height: 30px;
}

.h25px {
  height: 25px;
}

.h20px {
  height: 20px;
}

.exit_link {
  text-decoration: none;
  color: white;
}

.exit_link:visited {
  color: white;
}

.exit_link:active {
  color: #AAA;
}

.exit_link:hover {
  color: #AAA;
}

.color_orange {
  color: orange;
}

.color_white {
  color: white;
}

.bgcolor_red {
  background-color: red;
}

.bgcolor_gray {
  background-color: gray;
}

.bgcolor_gray_hover {
  background-color: gray;
}

.bgcolor_gray_hover:hover {
  background-color: #333;
}

.bgcolor_black {
  background-color: black;
}

.bgcolor_black_hover {
  background-color: black;
}

.bgcolor_black_hover:hover {
  background-color: #333;
}

.position_relative {
  position: relative;
}

.no_padding {
  padding: 0;
}

.no_border {
  border: 0;
}

.rotate_n90 {
  position: absolute;
  top: 75px;
  left: 0px;
  transform-origin: 0px 0px;
  transform: rotate(-90deg);
}

.monospace {
  font-family: 'monospace'
}

.overflow_auto {
  overflow: auto;
}

.overflow_scroll {
  overflow: scroll;
}

.td_linethrough {
  text-decoration: line-through;
}

.whitespace_nowrap {
  white-space: nowrap;
}

.padding_5px {
  padding: 5px;
}
