{
  "Configuration": {
    "Magic": 2018102,
    "SpvMagic": 2018101,
    "SeedList": [
      "node-testnet-011.elastos.org:21608",
      "node-testnet-012.elastos.org:21608",
      "node-testnet-013.elastos.org:21608",
      "node-testnet-014.elastos.org:21608",
      "node-testnet-015.elastos.org:21608"
    ],
    "SpvSeedList": [
      "node-testnet-002.elastos.org:21338",
      "node-testnet-003.elastos.org:21338",
      "node-testnet-004.elastos.org:21338"
    ],
    "ExchangeRate": 1.0,
    "MinCrossChainTxFee": 10000,
    "HttpRestPort": 21604,
    "HttpWsPort": 21605,
    "HttpJsonPort": 21606,
    "NodePort": 21608,
    "PrintLevel": 1,
    "MaxLogsSize": 0,
    "MaxPerLogSize": 0,
    "DisableTxFilters": true,
    "MainChainFoundationAddress": "8ZNizBf4KhhPjeJRGpox6rPcHE5Np6tFx3",
    "FoundationAddress": "8NRxtbMKScEWzW8gmPDGUZ8LSzm688nkZZ",
    "PowConfiguration": {
      "PayToAddr": "ESHtMtd4v4247fBn3KcDG4pfoCtz51Q6nZ",
      "AutoMining": false,
      "MinerInfo": "DID",
      "MinTxFee": 100,
      "InstantBlock": false
    },
    "RpcConfiguration": {
        "User": "ElaUser",
        "Pass": "Ela123",
        "WhiteIPList": [
            "127.0.0.1"
        ]
    }
  }
}
