{
  "Configuration": {
    "ActiveNet": "testnet",
    "HttpInfoPort": 21333,
    "HttpInfoStart": false,
    "HttpRestPort": 21334,
    "HttpRestStart": false,
    "HttpWsPort": 21335,
    "HttpWsStart": false,
    "HttpJsonPort": 21336,
    "NodePort": 21338,
    "PrintLevel": 1,
    "PowConfiguration": {
      "PayToAddr": "EeEkSiRMZqg5rd9a2yPaWnvdPcikFtsrjE",
      "MinerInfo": "ELA",
      "MinTxFee": 100
    },
    "RpcConfiguration": {
      "User": "ElaUser",
      "Pass": "Ela123",
      "WhiteIPList": [
        "127.0.0.1"
      ]
    }
  }
}
