{% extends 'base.html' %} 
{% load static %}

{% block title %}
  <title>Feed - Elastos Nucleus</title>
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide feed-carousel" data-ride="carousel" style="background-color: #14161c">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h2>View Tutorials</h2>
                    <p>New to the console? Watch some tutorials to get started.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h2>Account Management</h2>
                    <p>View any deployed dApps on elastOS, API keys, and more on your account page</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h2>Request some test ELA</h2>
                    <p>Use our Request ELA service to request test ELA to use for various purposes</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <main class="bd-masthead" role="main" style="background-color: #181b22;">
        <div class="row console-services">
            <!-- Services Row -->
            <div class="col-10">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/common/run-contract.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    CONSOLE SERVICES
                </p>
                <p class="console-services-title" style="font-size: 18px;margin: 0px 20px 20px 20px;">Services Available</p>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/key.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Generate API Key<br><br>
                            Category: <span class="console-services-category">Common</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/get-aki.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Get API Key<br><br>
                            Category: <span class="console-services-category">Common</span><br><br>
                            <button class="code-button available disabled">Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/upload.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Upload and Sign<br><br>
                            Category: <span class="console-services-category">Hive,DID Sidechain</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button>
                        </p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/key.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Generate API Key<br><br>
                            Category: <span class="console-services-category">Common</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/get-aki.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Get API Key<br><br>
                            Category: <span class="console-services-category">Common</span><br><br>
                            <button class="code-button available disabled">Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/upload.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Upload and Sign<br><br>
                            Category: <span class="console-services-category">Hive,DID Sidechain</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Most Viewed Row -->
            <div class="col-2 most-viewed">
                <h5 style="margin-bottom: 15px;">MOST VIEWED PAGES</h5>
                {% if most_visited_pages.exists %}
                    {% for item in most_visited_pages %}
                        <a href="{% url item.view %}">{{ item.name }}</a><br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


        <div class="row console-services">
            <!-- Deployed Apps Row -->
            <div class="col-10">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/common/contract.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    Deployed dApps on elastOS
                </p>
                <p class="console-services-title" style="font-size: 18px;margin: 0px 20px 20px 20px;">
                    View and manage all dApps deployed on elastOS
                </p>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            COMING SOON<br><br>
                            Category: <span class="console-services-category">APP #1</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            COMING SOON<br><br>
                            Category: <span class="console-services-category">APP #2</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            COMING SOON<br><br>
                            Category: <span class="console-services-category">APP #3</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- User Activity Row -->
            <div class="col-2 activity-feed">
                <h5 style="margin-bottom: 15px;">YOUR ACTIVITY</h5>
                <p>COMING SOON</p>
            </div>
        </div>
    </main>

    <!-- Tutorials and Suggest Service Row -->
    <main class="bd-masthead" id="content2" role="main"  style="background-color: #ffffff;">
        <div class="row">
            <div class="container col-8" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

              <!-- Description -->
              <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
                <div class="col-12 col-md-10 col-lg-7">
                  <div class="section-title text-left">
                    <h2 class="font-alt">Service Tutorials</h2>
                    <p>New to the console? Explore the many tutorials that will help you get started.</p>
                  </div>
                </div>
              </div>

              <!-- Services -->
              <div class="row" style="margin-top: 15px;">
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#sketching"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/generate_key" style="color: #212529;">
                          Generate Key
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#command_line"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/upload_and_sign" style="color: #212529;">
                          Upload And Sign
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#biz_discussion"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/verify_and_show" style="color: #212529;">
                          Verify And Show
                        </a>
                      </h5>
                    </div>
                  </div>
                </div> <!-- col -->
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#biz_discussion"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/request_ela" style="color: #212529;">
                          Request ELA
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#biz_discussion"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/create_wallet" style="color: #212529;">
                          Create Wallet
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#biz_discussion"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/run_eth_contract" style="color: #212529;">
                          Run Contract
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#biz_discussion"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/deploy_eth_contract" style="color: #212529;">
                          Deploy Contract
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="feature-box-01" style="background: #eff4f7;">
                    <svg><use xlink:href="#biz_discussion"></use></svg>
                    <div class="feature-content">
                      <h5 class="font-alt">
                        <a href="/service/deploy_elastos_dapp" style="color: #212529;">
                          Deploy DApp
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <div class="container col-3" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

            <!-- Description -->
            <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
              <div class="col-3 col-md-10 col-lg-7">
                <div class="section-title text-left">
                  <h2 class="font-alt">Feedback</h2>
                </div>
              </div>
            </div>

            <!-- Services -->
            <div class="row" style="margin-top: 15px;">
                <div class="col-12">
                    <div class="feature-box-01" style="background: #eff4f7;">
                      <svg><use xlink:href="#biz_discussion"></use></svg>
                      <div class="feature-content">
                        <h5 class="font-alt">
                          <a href="/service/suggest_service" style="color: #212529;">
                            Suggest Service
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </main>
{% endblock %}
