{% extends 'base.html' %} 
{% load static %}

{% block title %}
  <title>Feed - Elastos Nucleus</title>
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide feed-carousel" data-ride="carousel" style="background-color: #14161c">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h2>View Tutorials</h2>
                    <p>New to the console? Watch some tutorials to get started.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h2>Account Management</h2>
                    <p>View any deployed dApps on elastOS, API keys, and more on your account page</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h2>Request some test ELA</h2>
                    <p>Use our Request ELA service to request test ELA to use for various purposes</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <main class="bd-masthead" role="main" style="background-color: #181b22;">
        <div class="row">
            <!-- Services Row -->
            <div class="col-9 console-services">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/common/run-contract.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    CONSOLE SERVICES
                </p>
                <div class="divider"></div>
                <p class="console-services-title" style="font-size: 18px;margin: 0px 20px 20px 20px;">Services Available</p>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/key.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Generate API Key<br><br>
                            Category: <span class="console-services-category">Common</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/get-aki.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Get API Key<br><br>
                            Category: <span class="console-services-category">Common</span><br><br>
                            <button class="code-button available disabled">Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/upload.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Upload and Sign<br><br>
                            Category: <span class="console-services-category">Hive,DID Sidechain</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/show.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Verify And Show<br><br>
                            Category: <span class="console-services-category">Hive,DID Sidechain</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/contract.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Deploy ETH Contract<br><br>
                            Category:<span class="console-services-category">ETH Sidechain</span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/eth-contract.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Watch ETH Contract<br><br>
                            Category:<span class="console-services-category">ETH Sidechain</span><br><br>
                            <button class="code-button available disabled">Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/wallet.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Create Wallet<br><br>
                            Category:
                            <span class="console-services-category">
                                Wallet,Mainchain,DID Sidechain,Token Sidechain,ETH Sidechain
                            </span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/show.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            View Wallet<br><br>
                            Category:
                            <span class="console-services-category">
                                Wallet,Mainchain,DID Sidechain,Token Sidechain,ETH Sidechain
                            </span><br><br>
                            <button class="code-button available disabled">Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/ela-coin.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name">
                            Request Test ELA<br><br>
                            Category:
                            <span class="console-services-category">
                                Wallet,Mainchain,DID Sidechain,Token Sidechain,ETH Sidechain
                            </span><br><br>
                            <button class="code-button available" disabled>Python</button>&emsp;
                            <button class="code-button" disabled>Golang</button>&emsp;
                            <button class="code-button" disabled>elastOS</button><br><br>
                            <div class="divider"></div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Most Viewed Row -->
            <div class="col-2 console-services">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/common/show.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    MOST VIEWED PAGES
                </p>
                <div class="divider"></div>
                <p style="margin: 0px 20px 20px 20px;">
                    {% if most_visited_pages.exists %}
                    {% for item in most_visited_pages %}
                        <a class="sidebar-content" href="{% url item.view %}">{{ item.name }}</a><br>
                    {% endfor %}
                {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Deployed Apps Row -->
            <div class="col-9 console-services">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/common/contract.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    Deployed dApps on elastOS
                </p>
                <div class="divider"></div>
                <p class="console-services-title" style="font-size: 18px;margin: 0px 20px 20px 20px;">
                    View and manage all dApps deployed on elastOS
                </p>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            COMING SOON<br><br>
                            Category: <span class="console-services-category">APP #1</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            COMING SOON<br><br>
                            Category: <span class="console-services-category">APP #2</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            COMING SOON<br><br>
                            Category: <span class="console-services-category">APP #3</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- User Activity Row -->
            <div class="col-2 console-services">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/common/show.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    YOUR ACTIVITY
                </p>
                <div class="divider"></div>
                <p class="sidebar-content" style="margin: 0px 20px 20px 20px;">COMING SOON</p>
            </div>
        </div>

        <div class="row">
            <!-- Support Row -->
            <div class="col-2 console-services">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/feed/bx-help-circle.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    WE NEED YOU!
                </p>
                <div class="divider"></div>
                <p style="float: left; margin: 0px 15px 0px 15px;">
                    <img src="{% static 'images/feed/bug.svg' %}"/>
                </p>
                <p>
                    <a class="sidebar-content" href="https://github.com/cyber-republic/elastos-nucleus/issues">
                        Report bugs or tell us what to improve
                    </a>
                </p>
                <p style="float: left; margin: 0px 15px 0px 15px;">
                    <img src="{% static 'images/feed/github.svg' %}"/>
                </p>
                <p>
                    <a class="sidebar-content" href="https://github.com/cyber-republic/elastos-nucleus/issues">
                        Report bugs or tell us what to improve
                    </a>
                </p>
            </div>
            <!-- Tutorials Row -->
            <div class="col-9  console-services">
                <p style="float: left; margin: 15px;">
                    <img src="{% static 'images/feed/bx-bookmarks.svg' %}"/>
                </p>
                <p class="console-services-title" style="margin: 20px;">
                    UNDERSTAND THE NUCLEUS CONSOLE
                </p>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            Tutorial #1<br><br>
                            <span class="console-services-category">Coming soon</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            Tutorial #2<br><br>
                            <span class="console-services-category">COMING SOON</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="console-services-image">
                            <img src="{% static 'images/common/icon.svg' %}" width="250%"/>
                        </p>
                        <p class="console-services-name" style="margin-top: 20px;">
                            Tutorial #3<br><br>
                            <span class="console-services-category">COMING SOON</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
