{% extends 'base.html' %} 
{% load static %}

{% block title %}
  <title>Home - Elastos Nucleus</title>
{% endblock title %}

{% block content %}
<!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-color: #0958a7;">
          <img class="d-block w-100" src="..." alt="First slide">
          <div class="carousel-caption d-none d-md-block text-white">
            <h3>Account Management</h3>
            <p>View any deployed apps, API keys, and more on your account page</p>
          </div>
      </div>
      <div class="carousel-item" style="background-color: #0958a7;">
          <img class="d-block w-100" src="..." alt="Second slide">
          <div class="carousel-caption d-none d-md-block text-white">
            <h3>ELA Requesting</h3>
            <p>Use our Request ELA service to play around with fake ELA and all its functionalities</p>
          </div>
      </div>
      <div class="carousel-item" style="background-color: #0958a7;">
          <img class="d-block w-100" src="..." alt="Third slide">
          <div class="carousel-caption d-none d-md-block text-white">
            <h3>View Tutorials</h3>
            <p>New to the console? Watch some tutorials to get started.</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Services Row -->
  <main class="bd-masthead" id="content2" role="main"  style="background-color: #ffffff;">
      <div class="row">
          <div class="container col-8" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

            <!-- Description -->
            <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
              <div class="col-12 col-md-10 col-lg-7">
                <div class="section-title text-left">
                  <h2 class="font-alt">Console Services</h2>
                  <p>Check all of our services and see your most recent visits.</p>
                </div>
              </div>
            </div>

            <!-- Services -->
            <div class="row" style="margin-top: 15px;">
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#sketching"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/generate_key" style="color: #212529;">
                        Generate Key
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#command_line"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/upload_and_sign" style="color: #212529;">
                        Upload And Sign
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/verify_and_show" style="color: #212529;">
                        Verify And Show
                      </a>
                    </h5>
                  </div>
                </div>
              </div> <!-- col -->
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/request_ela" style="color: #212529;">
                        Request ELA
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/create_wallet" style="color: #212529;">
                        Create Wallet
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/run_eth_contract" style="color: #212529;">
                        Run Contract
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/deploy_eth_contract" style="color: #212529;">
                        Deploy Contract
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/deploy_elastos_dapp" style="color: #212529;">
                        Deploy DApp
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
      

        <div class="container col-3" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

          <!-- Description -->
          <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
            <div class="col-3 col-md-10 col-lg-7">
              <div class="section-title text-left">
                <h2 class="font-alt">Most Viewed</h2>
              </div>
            </div>
          </div>

          <!-- Services -->
          <div class="row" style="margin-top: 15px;">
            
          </div>
        </div>
      </div>
  
</main>

<!-- Services Row -->
<main class="bd-masthead" id="content2" role="main"  style="background-color: #ffffff;">
    <div class="row">
        <div class="container col-3" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

            <!-- Description -->
            <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
              <div class="col-3 col-md-10 col-lg-7">
                <div class="section-title text-left">
                  <h2 class="font-alt">User Activity</h2>
                </div>
              </div>
            </div>
    
            <!-- Services -->
            <div class="row" style="margin-top: 15px;">
              
            </div>
        </div>

        <div class="container col-8" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

          <!-- Description -->
          <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
            <div class="col-12 col-md-10 col-lg-7">
              <div class="section-title text-left">
                <h2 class="font-alt">Deployed DApps</h2>
                <p>Manage and configure all DApps deployed onto ElastOS.</p>
              </div>
            </div>
          </div>

          <!-- Services -->
          <div class="row" style="margin-top: 15px;">
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#sketching"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/generate_key" style="color: #212529;">
                      Generate Key
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#command_line"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/upload_and_sign" style="color: #212529;">
                      Upload And Sign
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/verify_and_show" style="color: #212529;">
                      Verify And Show
                    </a>
                  </h5>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/request_ela" style="color: #212529;">
                      Request ELA
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/create_wallet" style="color: #212529;">
                      Create Wallet
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/run_eth_contract" style="color: #212529;">
                      Run Contract
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/deploy_eth_contract" style="color: #212529;">
                      Deploy Contract
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/deploy_elastos_dapp" style="color: #212529;">
                      Deploy DApp
                    </a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</main>

<!-- Services Row -->
<main class="bd-masthead" id="content2" role="main"  style="background-color: #ffffff;">
    <div class="row">
        <div class="container col-8" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

          <!-- Description -->
          <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
            <div class="col-12 col-md-10 col-lg-7">
              <div class="section-title text-left">
                <h2 class="font-alt">Service Tutorials</h2>
                <p>New to the console? Explore the many tutorials that will help you get started.</p>
              </div>
            </div>
          </div>

          <!-- Services -->
          <div class="row" style="margin-top: 15px;">
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#sketching"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/generate_key" style="color: #212529;">
                      Generate Key
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#command_line"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/upload_and_sign" style="color: #212529;">
                      Upload And Sign
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/verify_and_show" style="color: #212529;">
                      Verify And Show
                    </a>
                  </h5>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/request_ela" style="color: #212529;">
                      Request ELA
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/create_wallet" style="color: #212529;">
                      Create Wallet
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/run_eth_contract" style="color: #212529;">
                      Run Contract
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/deploy_eth_contract" style="color: #212529;">
                      Deploy Contract
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="feature-box-01" style="background: #eff4f7;">
                <svg><use xlink:href="#biz_discussion"></use></svg>
                <div class="feature-content">
                  <h5 class="font-alt">
                    <a href="/service/deploy_elastos_dapp" style="color: #212529;">
                      Deploy DApp
                    </a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    

      <div class="container col-3" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">

        <!-- Description -->
        <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
          <div class="col-3 col-md-10 col-lg-7">
            <div class="section-title text-left">
              <h2 class="font-alt">Feedback</h2>
            </div>
          </div>
        </div>

        <!-- Services -->
        <div class="row" style="margin-top: 15px;">
            <div class="col-12">
                <div class="feature-box-01" style="background: #eff4f7;">
                  <svg><use xlink:href="#biz_discussion"></use></svg>
                  <div class="feature-content">
                    <h5 class="font-alt">
                      <a href="/service/suggest_service" style="color: #212529;">
                        Suggest Service
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}
