{% extends 'layout.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-info">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="col-md-12" style="...">
        <a href="{%  url 'login:sign_out' %}">
                <button>Logout</button>
        </a>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12" style="text-align:center;">
            <h2>Build the Modern Internet</h2>
        </div>

        <div class="col-md-3">
            <div class="card" style="height: 100px">
                <div class="card-image">
                    <img src="{% static '/images/blockchain.jpg' %}">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="height: 100px">
                <div class="card-image">
                    <img src="{% static '/images/sidechain.jpg' %}">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="height: 100px">
                <div class="card-image">
                    <img src="{% static '/images/runtime.jpg' %}">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="height: 100px">
                <div class="card-image">
                    <img src="{% static '/images/carrier.jpg' %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}