
@import "../../../style/variable";
@import "../../../style/color";

.d_rowFooter {
  padding-bottom: $gap_2;
}

.d_rowGrey {
  background-color: rgb(229, 229, 229);
}

.c_Footer {
  z-index: 10;
  background: $bg_dark;
  position: relative;
  padding: 0 $gap_4;
  margin-top: $gap_3;

  font-size: 13px;
  font-weight: 300;

  text-align: left;

  line-height: 1;

  @media only screen and (max-width: $mobile-width) {
    padding: 0;
  }

  .logo_own {
    width: 165px;
  }

  .footer-box {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-vertical-section {

    margin-top: 8px;

    .title {
      margin-bottom: $gap_1;
    }

    .ant-avatar {
      background-color: transparent;
    }
  }

  .social-icons > a {
    color: #fff !important;
    display: inline-block;
    padding: 0 $gap_2 $gap_2 0;
  }

  .join {
    padding-left: 24px;
  }

  .footer-color-dark {
    margin-top: 8px;
    color: $cr_light_color;

    > a {
      color: $cr_light_color;
    }
  }

  .contact-container .footer-color-dark > a {
    text-decoration: underline;
  }

}
