
@import "../../../style/variable";

.c_anniversaryAppFormContainer {

  h4 {
    padding-top: 0
  }

  .static-field {
    padding-right: 8px;
    margin-bottom: 24px;
    padding-top: 8px;
  }

  .content {
    padding-left: 4px;
    font-weight: 500;
  }

}
