{
  "Configuration": {
    "Magic": 2017001,
    "Version": 23,
    "SeedList": [
      "node-mainnet-002.elastos.org:20866",
      "node-mainnet-006.elastos.org:20866",
      "node-mainnet-014.elastos.org:20866",
      "node-mainnet-016.elastos.org:20866",
      "node-mainnet-021.elastos.org:20866",
      "node-mainnet-003.elastos.org:20866",
      "node-mainnet-007.elastos.org:20866",
      "node-mainnet-015.elastos.org:20866",
      "node-mainnet-017.elastos.org:20866",
      "node-mainnet-022.elastos.org:20866",
      "node-mainnet-004.elastos.org:20866",
      "node-mainnet-023.elastos.org:20866"
    ],
    "HttpInfoPort": 20333,
    "HttpInfoStart": true,
    "HttpRestPort": 20334,
    "HttpWsPort": 20335,
    "WsHeartbeatInterval": 60,
    "HttpJsonPort": 20336,
    "NoticeServerUrl": "",
    "OauthServerUrl": "",
    "NodePort": 20338,
    "NodeOpenPort": 20866,
    "OpenService": false,
    "PrintLevel": 1,
    "MaxLogsSize": 0,
    "MaxPerLogSize": 0,
    "IsTLS": false,
    "CertPath": "./cert.pem",
    "KeyPath": "./cert-key.pem",
    "CAPath": "./ca.pem",
    "MultiCoreNum": 4,
    "MaxTransactionInBlock": 10000,
    "MaxBlockSize": 8000000,
    "MinCrossChainTxFee": 10000,
    "PowConfiguration": {
      "PayToAddr": "8VYXVxKKSAxkmRrfmGpQR2Kc66XhG6m3ta",
      "AutoMining": false,
      "MinerInfo": "ELA",
      "MinTxFee": 100,
      "ActiveNet": "MainNet"
    },
    "Arbiters":[
      "0248df6705a909432be041e0baa25b8f648741018f70d1911f2ed28778db4b8fe4",
      "02771faf0f4d4235744b30972d5f2c470993920846c761e4d08889ecfdc061cddf",
      "0342196610e57d75ba3afa26e030092020aec56822104e465cba1d8f69f8d83c8e",
      "02fa3e0d14e0e93ca41c3c0f008679e417cf2adb6375dd4bbbee9ed8e8db606a56",
      "03ab3ecd1148b018d480224520917c6c3663a3631f198e3b25cf4c9c76786b7850"
    ]
  }
}
