<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.elastos.wallet">

    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--  <permission
          android:name="my_permision.send_broadcast_receiver"
          android:protectionLevel="signatureOrSystem"></permission>-->
    <!--添加权限-->
    <!--    <uses-permission android:name="my_permision.send_broadcast_receiver" />-->
    <application
        android:name="org.elastos.wallet.ela.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon_ela"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_ela"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup,android:icon,android:roundIcon,android:theme">
        <activity
            android:name="org.elastos.wallet.ela.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.jwt"/>
            </intent-filter>

        </activity>
        <activity android:name="io.github.xudaojie.qrcodelib.CaptureActivity" />
        <activity
            android:name="org.elastos.wallet.ela.ui.Assets.activity.TransferActivity"
            android:theme="@style/App" />
        <activity
            android:name="org.elastos.wallet.ela.ui.vote.activity.VoteTransferActivity"
            android:theme="@style/App" />

        <activity
            android:name="org.elastos.wallet.ela.ui.Assets.activity.PwdActivity"
            android:theme="@style/App" />
        <activity
            android:name="org.elastos.wallet.ela.ui.Assets.activity.IPAddressActivity"
            android:theme="@style/App" />

        <activity
            android:name="org.elastos.wallet.ela.ui.vote.activity.VoteActivity"
            android:theme="@style/App" />
        <activity
            android:name="org.elastos.wallet.ela.ui.vote.activity.OtherPwdActivity"
            android:theme="@style/App" />
        <activity
            android:name="org.elastos.wallet.ela.ui.vote.activity.VertifyPwdActivity"
            android:theme="@style/App" />
        <activity
            android:name="org.elastos.wallet.ela.utils.CrashDialog"
            android:theme="@style/App" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>