@import url("https://use.typekit.net/ild6syp.css");
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-family: "Bio Sans", sans-serif; }

.darkBackground {
  background-color: #1c2f4a; }

.docMainWrapper h3 {
  font-weight: 500; }

.docMainWrapper p {
  font-weight: 300; }

header .navigationSlider .slidingNav > .nav-site > li > a {
  color: #333;
  font-weight: 500; }

.homeContainer {
  background-color: #ffffff; }
  .homeContainer .projectTitle > img {
    padding-left: 25px; }
  .homeContainer .projectTitle > small {
    color: #4f789c; }

.mainContainer .productShowcaseSection {
  padding-top: 5vh;
  background-color: #1c2f4a; }
  .mainContainer .productShowcaseSection h2 {
    color: white;
    margin: 0; }

.mainContainer .imageAlignTop .blockImage {
  max-width: none; }
  .mainContainer .imageAlignTop .blockImage > img {
    max-height: 100px; }

.promoRow .button {
  color: #333;
  border-color: #0b687c; }
