<aside ng-controller="walletBalanceCtrl">





  <!-- Account Address -->
  <div class="block">
    <h5 translate="sidebar_AccountAddr">Account Address</h5>
    <ul class="account-info">
      <div class="addressIdenticon med float" blockie-address="{{wallet.getAddressString()}}" watch-var="wallet"></div>
      <span class="mono wrap">{{wallet.getChecksumAddressString()}}</span>
      <label class="ens-response" ng-show="showEns()">
        ↳ <span class="mono ng-binding"> {{ensAddress}} </span>
      </label>
    </ul>
    <div ng-show="showDisplayOnTrezor()">
      <h5 translate="sidebar_DisplayOnTrezor">Display address on TREZOR</h5>
      <ul class="account-info">
        <li><a href="" ng-click="displayOnTrezor()" translate="sidebar_DisplayOnTrezor">Display address on TREZOR</a></li>
      </ul>
    </div>
    <div ng-show="showDisplayOnLedger()">
      <h5 translate="sidebar_DisplayOnLedger">Display address on Ledger</h5>
      <ul class="account-info">
        <li><a href="" ng-click="displayOnLedger()" translate="sidebar_DisplayOnLedger">Display address on Ledger</a></li>
      </ul>
    </div>
    <h5 translate="sidebar_AccountBal">Account Balance</h5>
    <ul class="account-info point">
      <li>
        <span class="mono wrap">{{wallet.balance}}</span> {{ajaxReq.type}}
      </li>
    </ul>
    <h5 translate="sidebar_TransHistory"> Transaction History</h5>
    <ul class="account-info">
      <li ng-show="ajaxReq.type != 'CUS'">
        <a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', wallet.getAddressString())}}" target="_blank" rel="noopener noreferrer">
          {{ajaxReq.type}} ({{ajaxReq.blockExplorerTX.replace('/tx/[[txHash]]', '')}})
        </a>
      </li>

    </ul>
  </div>

  <!-- Token Balances -->
  <div class="block token-balances">
    <h5 translate="sidebar_TokenBal">Token Balances</h5>

    <!-- Load Token Balances
    <a class="btn btn-warning btn-xs"
       ng-click="wallet.setTokens(); globalService.tokensLoaded=true"
       ng-hide="globalService.tokensLoaded">
      <img src="images/icon-load-tokens.svg" style="height: 1em; width: auto; margin-right: 5px;" />
      Load Tokens
    </a>
    <br ng-hide="globalService.tokensLoaded" /><br ng-hide="globalService.tokensLoaded" />
    -->

    <!-- you can your Balance on Blockchain Explorer -->
    <p>
      You can also view your Balances on
      <a ng-show="ajaxReq.type != 'CUS'"
         href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', wallet.getAddressString())}}"
         target="_blank"
         rel="noopener noreferrer">
          {{ajaxReq.blockExplorerTX.replace('/tx/[[txHash]]', '')}}
      </a>
    </p>

    <!-- Buttons -->
    <a class="btn btn-warning btn-xs" ng-click="showAllTokens=true" ng-show="showAllTokens==false">
      Show All Tokens
    </a>
    <a class="btn btn-warning btn-xs" ng-click="showAllTokens=false" ng-show="showAllTokens==true">
      Only Show Balances
    </a>
    <a class="btn btn-default btn-xs" ng-click="customTokenField=!customTokenField">
      <span translate="SEND_custom">Add Custom Token</span>
    </a>

    <br ng-show="customTokenField" />

    <!-- Add Custom Token -->
    <div class="custom-token-fields" ng-show="customTokenField">
      <div class="row">
        <address-field
          placeholder="{{ ajaxReq.type=='ETH' ? 'mewsupport.eth' : '0x4bbeEB066eD09B7AEd07bF39EEe0460DFa261520' }}"
          var-name="localToken.contractAdd"
          labelTranslated="TOKEN_Addr">
        </address-field>
      </div>

      <label translate="TOKEN_Symbol"> Token Symbol: </label>
      <input class="form-control input-sm"
             type="text"
             ng-model="localToken.symbol"
             ng-class="localToken.symbol!='' ? 'is-valid' : 'is-invalid'" />

      <label translate="TOKEN_Dec"> Decimals: </label>
      <input class="form-control input-sm"
             type="text"
             ng-model="localToken.decimals"
             ng-class="Validator.isPositiveNumber(localToken.decimals) ? 'is-valid' : 'is-invalid'" />

      <button class="btn btn-primary btn-xs" ng-click="saveTokenToLocal()" translate="x_Save">Save</button>

    </div>

    <br/>
    <br/>

    <!-- Balances -->
    <table class="account-info">
      <tr ng-class="token.type!=='default' ? 'custom-token' : ''"
          ng-repeat="token in wallet.tokenObjs track by $index"
          ng-hide="(token.balance==0 || token.balance=='Click to Load') && showAllTokens==false">
        <td class="mono wrap point">
          <img src="images/icon-remove.svg"
               class="token-remove"
               title="Remove Token"
               ng-click="removeTokenFromLocal(token.symbol)"
               ng-show="token.type!=='default'" />
          <span ng-click="setAndVerifyBalance(token)">
            {{ token.getBalance() }}
          </span>
        </td>
        <td>
          {{ token.getSymbol() }}
        </td>
      </tr>
    </table>
  </div>
</aside>
