
$primary_color: #43af92;
$primary_light_color: #64bebb;
$primary_dark_color: #031E28;

$link_color: $primary_color;
$link_hover_color: #388582;

$bg_gray: #e0e0e0;
$bg_light_gray: rgba(0, 0, 0, 0.04);
$bg_lighter_gray: #F2F6FB;
$bg_blue: #f6f9fd;
$bg_dark: #102532;
$bg_navy: #173045;
$bg_obsidian: #0F2631;
$bg_obsidian_transparent: rgba(15,38,49,0.27);
$danger_red: #ff4d4f;
$red: #f5222d;

$bg_pagination: #2B3C55;

$modal_bg: #F6F9FD;

$border_gray: #ccc;

$text_default_color: #333;
$text_light_gray: rgba(0, 0, 0, 0.45);
$text_lighter_gray: rgba(3, 30, 40, 0.3);
$text_dark_gray: #545454;
$text_new_gray: #434D72;

$cr_color: #2B3C5A;
$cr_light_color: #5E6C86;
$cr_dark_color: #2A3C5A;

$cr_primary_color: rgba(38, 214, 170, 0.8);
$cr_primary_dark_color: #009999;

$cr_primary_highlight: #1DE9B6;
$cr_btn_primary: #008D85;
$cr_btn_danger: #BE1313;

$cr100_sky_blue: #18FFFF;
$cr100_green: $primary_color;
