@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nvyv2m');
  src:  url('fonts/icomoon.eot?nvyv2m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?nvyv2m') format('woff2'),
    url('fonts/icomoon.ttf?nvyv2m') format('truetype'),
    url('fonts/icomoon.woff?nvyv2m') format('woff'),
    url('fonts/icomoon.svg?nvyv2m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crabface:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-slack:before {
  content: "\f198";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-reddit-alien:before {
  content: "\f281";
}
