.p_emptyPage{

}

.hide {
  display: none;
}

.horizGap {
  height: $gap_3;
}

// used for help pages
.guide-container {

  margin-left: 10%;
  max-width: 50%;
}

.p_admin_index {
    background: white;
}