@import "@/style/variable";
@import "@/style/color";

.c_VoteResult {
  display: flex;
  height: 250px;
  align-items: center;
  margin-bottom: 20px;
  .vote-label {
    text-align: right;
    margin-right: 50px;
    width: 90px;
  }
  .support {
    border-left: 10px solid #008D85;
  }
  .reject {
    border-left: 10px solid #BE1313;
  }
  .abstention {
    border-left: 10px solid #C4C4C4;
  }
  .undefined {  // undecided
    border-left: 10px solid #EFEFEF;
  }
  .voter-list {
    margin: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
  }
  .voter-item {
    text-align: center;
    margin-left: 28px;
    img {
      display: block;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
  }
}