{
  "Configuration": {
    "DPoSConfiguration": {
      "EnableArbiter": true,
      "IPAddress": "192.168.0.1"
    },
    "EnableRPC": true,
    "RpcConfiguration": {
      "User": "User",
      "Pass": "Password",
      "WhiteIPList": [
        "127.0.0.1"
      ]
    }
  }
}
