@import '../../../style/variable';
@import '../../../style/color';

$mobile-padding: $gap_0 0px;
$landingPageWidth: 1152px;
$maxWithContent: 888px;

.p_cs {
  background: #ffffff;
  text-align: left;

  .btn-view-open.ant-btn {
    margin-left: 10px;
    background: $cr_btn_primary;
    border: 0;
    color: white;
    cursor: pointer;
  }
  
  /*
  ************************************************************************
  Sections / General
  ************************************************************************
   */
  %container {
    max-width: $landingPageWidth;
    margin-left: auto;
    margin-right: auto;
  }

  %team-dark {
    background-color: $bg_navy;

    .row-positions {
      margin-top: 24px;
    }
  }

  .container {
    @extend %container;
    max-width: $maxWithContent;
    margin: 0 auto;
    padding-top: 142px;
    @media only screen and (max-width: $mobile-width) {
      margin-left: 20px;
    }
    .ant-tabs-nav-container-scrolling {
      @media only screen and (max-width: $mobile-width) {
        padding-left: 0;
      }
    }
    .incumbent {
      margin-top: 20px;

      .title {
        font-family: 'komu-a', sans-serif;
        line-height: normal;
        font-size: 48px;
        color: #1de9b6;
        @media only screen and (max-width: $mobile-width) {
          font-size: 36px;
        }

        .title_1st {
          color: #7e96be;
          font-size: inherit;
          font-family: 'komu-a', sans-serif;

          .line {
            height: 30px;
            margin-top: 4px;
            margin-left: 30px;
            margin-right: 30px;
          }
        }
      }

      .members {
        margin-top: 110px;
        margin-right: -20px;

        @media only screen and (max-width: $mobile-width) {
          margin-right: 0px;
        }
      }
    }

    .secretariat,
    .positions {
      margin-top: 20px;
      .title {
        font-family: 'komu-a', sans-serif;
        line-height: normal;
        font-size: 36px;
        color: #1de9b6;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 40px;
        @media only screen and (max-width: $mobile-width) {
          font-size: 36px;
          margin-left: 0;
        }

        .title_1st {
          font-size: inherit;
          color: #1de9b6;
          font-family: 'komu-a', sans-serif;

          .line {
            height: 30px;
            margin-top: -5px;
            margin-left: 30px;
            margin-right: 30px;
          }
        }
      }

      .members {
        margin-top: 100px;
        margin-right: -40px;
        margin-left: 40px;

        @media only screen and (max-width: $mobile-width) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .member {
    position: relative;
    margin: 80px 0px;

    @media only screen and (max-width: $mobile-width) {
      margin: 130px 0px;
    }

    .small-rect {
      position: absolute;
      width: 220px;
      height: 220px;
      top: -100px;
      background: #0f2631;
    }

    .big-rect {
      width: 260px;
      height: 344px;
      background: #172c3b;
      .content {
        padding: 125px 20px 0;
        line-height: 20px;
        font-size: 14px;
        color: #f6f9fd;
        opacity: 0.9;
        font-weight: 300;
        .name {
          padding: 30px 0 10px;
          font-family: 'komu-a', sans-serif;
          line-height: 30px;
          font-size: 30px;
          color: #ffffff;
        }
        
        .self-intro {
          font-family: 'synthese', sans-serif;
          display: -webkit-box;
          /*!autoprefixer:off*/
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          /*autoprefixer:on*/
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .council-rule {
    width: 80%;
    height: 191px;
    background: #22384c;
    margin-bottom: 100px;
    margin-top: 30px;

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      padding-left: 20px;
    }

    .title {
      font-family: 'komu-a', sans-serif;
      line-height: normal;
      font-size: 48px;
      color: #1de9b6;
      margin-left: 90px;
      padding-top: 50px;
      @media only screen and (max-width: $mobile-width) {
        margin-left: 0;
        font-size: 36px;
      }
    }

    .view-rule {
      font-family: 'synthese', sans-serif;
      line-height: 32px;
      font-size: 20px;
      color: #f6f9fd;
      opacity: 0.9;
      margin-left: 10%;
      @media only screen and (max-width: $mobile-width) {
        margin-left: 0;
        font-size: 14px;
      }
    }

    .click-here {
      font-family: 'synthese', sans-serif;
      line-height: 32px;
      font-size: 20px;
      color: #ffffff;
      opacity: 0.8;
      cursor: pointer;
    }
  }

  %section-title {
    font-family: 'komu-a', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
  }

  @media only screen and (max-width: $mobile-width) {
    padding: 0 0;
  }

  .ebp-wrap {
    padding: 0;
    background-color: $bg_navy;
  }

  .lower-section {
    padding-top: 150px;
  }

  .blue-title {
    @extend %section-title;
    color: $cr100_sky_blue;
  }

  .dark-title {
    @extend %section-title;
    color: $text_new_gray;
  }

  /*
  ************************************************************************
  Header
  ************************************************************************
   */
  .cs-background {
    background-color: $bg_navy;
    min-height: 550px;
    position: relative;

    .circle-container {
      position: absolute;
      bottom: 55%;
      left: $gap_5;

      @media only screen and (max-width: $mobile-width) {
        bottom: 68%;
        left: $gap_5;
      }

      .circle {
        display: block;
        width: 100px;
        height: 100px;

        @media only screen and (max-width: $mobile-width) {
          width: 25px;
          height: 25px;
        }
      }
    }

    .circle-top1 {
      position: absolute;
      top: 10%;
      right: 20%;

      @media only screen and (max-width: $mobile-width) {
        bottom: 68%;
        left: $gap_5;
      }

      .circle {
        display: block;
        width: 100px;
        height: 100px;

        @media only screen and (max-width: $mobile-width) {
          width: 25px;
          height: 25px;
        }
      }
    }

    .circle-top2 {
      position: absolute;
      top: 10%;
      right: 28%;

      @media only screen and (max-width: $mobile-width) {
        bottom: 68%;
        left: $gap_5;
      }

      .circle {
        display: block;
        width: 100px;
        height: 100px;

        @media only screen and (max-width: $mobile-width) {
          width: 25px;
          height: 25px;
        }
      }
    }

    .right-box-container {
      position: absolute;
      top: $gap_4;
      right: $gap_3;

      @media only screen and (max-width: $mobile-width) {
        top: 50px;
        right: $gap_5;
      }

      .box {
        margin-left: 50px;
      }
      img {
        position: absolute;
        top: 62.5px;
        left: 62.5px;
        width: 75px;
        height: 75px;
        @media only screen and (max-width: $mobile-width) {
          top: 32.5px;
          left: 57.5px;
          width: 35px;
          height: 35px;
        }
      }
    }

    .bottom-box-container {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .connector-container {
      position: absolute;
      top: 56px;
      left: 0%;
    }

    .small-box {
      width: 50px;
      height: 50px;
      background-color: #434d72;
      opacity: 0.4;
      @media only screen and (max-width: $mobile-width) {
        width: 25px;
        height: 25px;
      }
    }

    .box {
      width: 100px;
      height: 100px;
      background-color: #434d72;
      opacity: 0.4;

      @media only screen and (max-width: $mobile-width) {
        width: 50px;
        height: 50px;
      }
    }
  }

  .c_Footer {
    margin-top: 0;
  }
}
