{
    "ActiveNet": "regnet",
    "Magic": 2019205,
    "NodePort": 10058,
    "DisableDNS": true,
    "PermanentPeers": [
        "127.0.0.1:10158",
        "127.0.0.1:10258",
        "127.0.0.1:10358",
        "127.0.0.1:10458"
    ],

    "SPVMagic": 2018201,
    "SPVDisableDNS": true,
    "SPVPermanentPeers": [
        "127.0.0.1:10018",
        "127.0.0.1:10118",
        "127.0.0.1:10218",
        "127.0.0.1:10318",
        "127.0.0.1:10418"
    ],
    "ExchangeRate": 1.0,
    "MinCrossChainTxFee": 10000,
    "EnableREST": true,
    "RESTPort": 10054,
    "EnableWS": true,
    "WSPort": 10055,
    "Version": 23,
    "EnableRPC": true,
    "RPCPort": 10056,
    "RPCUser": "",
    "RPCPass": "",
    "RPCWhiteList": [
        "0.0.0.0"
    ],
    "Loglevel": 0,
    "PerLogFileSize": 20,
    "LogsFolderSize": 2048,
    "PrintSyncState": true,
    "DisableTxFilters": false,
    "EnableMining": false,
    "InstantBlock": true,
    "PayToAddr": "EVXCwemNt3KYfmsmMiqoVoZFGqGMS76XTk",
    "MinerInfo": "Neo",
    "FoundationAddress": "EMtmjvKQAhLDXGT6upYpbUGZTtoQMQAr8A"
}