/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * bio-sans:
 *   - http://typekit.com/eulas/00000000000000003b9b341c
 *   - http://typekit.com/eulas/00000000000000003b9b341d
 *   - http://typekit.com/eulas/00000000000000003b9b341e
 *   - http://typekit.com/eulas/00000000000000003b9b3420
 *   - http://typekit.com/eulas/00000000000000003b9b3422
 *   - http://typekit.com/eulas/00000000000000003b9b3424
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-03-10 10:03:17 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nfh2hmc&ht=tk&f=37155.37156.37157.37160.37162.37164&a=18852270&app=typekit&e=css");

@font-face {
font-family:"bio-sans";
src:url("https://use.typekit.net/af/1f2bd6/00000000000000003b9b341c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/1f2bd6/00000000000000003b9b341c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/1f2bd6/00000000000000003b9b341c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-style:normal;font-weight:200;
}

@font-face {
font-family:"bio-sans";
src:url("https://use.typekit.net/af/584141/00000000000000003b9b341d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/584141/00000000000000003b9b341d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/584141/00000000000000003b9b341d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-style:italic;font-weight:200;
}

@font-face {
font-family:"bio-sans";
src:url("https://use.typekit.net/af/d336ac/00000000000000003b9b341e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/d336ac/00000000000000003b9b341e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/d336ac/00000000000000003b9b341e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"bio-sans";
src:url("https://use.typekit.net/af/9c5495/00000000000000003b9b3420/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9c5495/00000000000000003b9b3420/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9c5495/00000000000000003b9b3420/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"bio-sans";
src:url("https://use.typekit.net/af/af8cbc/00000000000000003b9b3422/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/af8cbc/00000000000000003b9b3422/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/af8cbc/00000000000000003b9b3422/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"bio-sans";
src:url("https://use.typekit.net/af/952d18/00000000000000003b9b3424/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/952d18/00000000000000003b9b3424/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/952d18/00000000000000003b9b3424/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

.tk-bio-sans { font-family: "bio-sans",sans-serif; }
