@import "@/style/variable";
@import "@/style/color";

.c_SuggestionForm {
  .title {
    font-size: 42px;
    padding-bottom: 0;

    @media only screen and (max-width: $mobile-width) {
      margin-left: 16px;
    }
  }
  @media only screen and (min-width: 576px) {
    .form-title .ant-col-sm-12,
    .form-desc .ant-col-sm-12{
      width: 100%;
    }
  }
  .ql-toolbar.ql-snow {
    text-align: left;
  }

  .ant-btn.cr-btn-primary {
    margin-left: 10px;
  }

  ol {
    margin-left: $gap_1;
  }
}
