<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:200px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x:hidden;
			padding-top:20px;
		}

		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:18px;
			color: #818181;
			display:block;
		}

		.sidenav a:hover{
			color:#f1f1f1;
		}

		.main {
            margin-left: 160px;
            padding: 0px 10px;
        }
	</style>
	<title>{% block title %}Elastos Console Services{% endblock %}</title>
</head>

<body>
	<div class="sidenav">
            <a href="{% url 'service:generateKey' %}">Generate API Key</a>
            <a href="/service/fileUpload">File Upload</a>
            <a href="/service/showfileContent">Show File Content</a>
            <a href="/service/uploadandScan">Upload and Scan</a>
            <a href="/service/verifyandshowContent">Verify and Show Content</a>
            <a href="/service/scanMessage">Scan a Message</a>
            <a href="/service/verifyMessage">Verify a Message</a>
            <a href="/service/transferFile">Transfer File Demo</a>
            <a href="/service/documentation">Documentation</a>
            <a href="/service/aboutUs">About Us</a>
	</div>
{% block content %}

{% endblock %}

</body>

</html>


