{% extends "service.html" %} {% load static %} 

{% block title %}
<title>Request ELA</title>
{% endblock title %} 

{% block related %}
  <li>
    <a href="#">
      One Service
    </a>
  </li>
  <li>
    <a href="#">
      Two Service
    </a>
  </li>
  <li>
    <a href="#">
      Red Service
    </a>
  </li>
  <li>
    <a href="#">
      Blue Service
    </a>
  </li>
{% endblock related %}

{% block documentation %}
<li class="toc-entry toc-h2">
    <a href="#">One Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Two Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Red Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Blue Example</a>
  </li>
{% endblock documentation %}

{% block servicetitle %}
<h5 class="card-header">Request ELA</h5>
{% endblock servicetitle %} 

{% block service %}
<p>The Request ELA service goes here.</p>
{% endblock service %} 

{% block description %}
<p>The description of the Request ELA service goes here.</p>
{% endblock description %}
