{% extends "service.html" %} 
{% load static %} 

{% block title %}
<title>Request ELA - Elastos Nucleus</title>
{% endblock title %} 

{% block related_services %}
  <li>
    <a href="#">
      1st Service
    </a>
  </li>
  <li>
    <a href="#">
      2nd Service
    </a>
  </li>
  <li>
    <a href="#">
      3rd Service
    </a>
  </li>
  <li>
    <a href="#">
      4th Service
    </a>
  </li>
  <li>
    <a href="#">
      5th Service
    </a>
  </li>
{% endblock related_services %}

{% block documentation %}
  <li>
    <a href="#">One Example</a>
  </li>
  <li>
    <a href="#">Two Example</a>
  </li>
  <li>
    <a href="#">Red Example</a>
  </li>
  <li>
    <a href="#">Blue Example</a>
  </li>
{% endblock documentation %}

{% block serviceicon %}
    <img src="{% static 'images/common/ela-coin.svg' %}"/>
{% endblock serviceicon %}
{% block servicetitle %}
    Request ELA
{% endblock servicetitle %}

{% block description %}
    The description of the Request ELA service goes here.
{% endblock description %}

{% block service %}
    <h5 class="card-title">Request ELA on Mainchain Address</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.mainchain.as_p }}
      {% if output.mainchain %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.mainchain }}<br>
        Deposit Amount: {{ deposit_amount.mainchain }}<br>
        It may take around 3 minutes for ELA to be deposited.
      </p>
      {% endif %}
      <button type="submit" name="submit_mainchain">Request ELA</button>
    </form>

    <h5 class="card-title">Request ELA/DIDSC on DID Sidechain Address</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.did.as_p }}
      {% if output.did %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.did }}<br>
        Deposit Amount: {{ deposit_amount.did }}<br>
        It may take around 10-15 minutes for ELA to be deposited.
      </p>
      {% endif %} 
      <button type="submit" name="submit_did">Request ELA/DIDSC</button>
    </form>

    <h5 class="card-title">Request ELA/TOKENSC on Token Sidechain Address</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.token.as_p }}
      {% if output.token %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.token }}<br>
        Deposit Amount: {{ deposit_amount.token }}<br>
        It may take around 10-15 minutes for ELA/TOKENSC to be deposited.
      </p>
      {% endif %}
      <button type="submit" name="submit_token">Request ELA/TOKENSC</button>
    </form>

    <h5 class="card-title">Request ELA/ETHSC on ETH Sidechain Address</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.eth.as_p }}
      {% if output.eth %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.eth }}<br>
        Deposit Amount: {{ deposit_amount.eth }}<br>
        It may take around 1 minute for ELA/ETHSC to be deposited.
      </p>
      {% endif %}
      <button type="submit" name="submit_eth">Request ELA/ETHSC</button>
    </form>
{% endblock service %}
