{% extends 'base.html' %} 
{% load static %} 

{% block title %}
  <title>Suggest Service - Elastos Nucleus</title>
{% endblock title %}


{% block content %}
<div class="row align-items-center justify-content-center">
  <div class="col-md-8">
    <div class="card-header text-center">
      Got an idea for a new service to add to the console? Let<br />
      us know! Fill out the form at the bottom about what would you<br />
      like to see on the console, or head over to our official 
      <a href="https://github.com/cyber-republic/elastos-nucleus" target="blank"
        >Github</a
      >
    </div>
    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
            <div class="container col-5" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">
    
                <!-- Description -->
                <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
                  <div class="col-3 col-md-10 col-lg-7">
                    <div class="section-title text-left">
                      <h2 class="font-alt">Suggestions</h2>
                    </div>
                  </div>
                </div>
        
                <!-- Services -->
                <div class="row" style="margin-top: 15px;">
                  <p>Placeholder</p>
                </div>
            </div>
    
            <div class="container col-5" style="box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);">
    
              <!-- Description -->
              <div class="row justify-content-left m-45px-b md-m-20px-b sm-m-15px-b border" style="background-color: #eff4f7; padding-top: 7.5px; padding-bottom: 7.5px;">
                <div class="col-12 col-md-10 col-lg-7">
                  <div class="section-title text-left">
                    <h2 class="font-alt">Tutorials</h2>
                  </div>
                </div>
              </div>
    
              <!-- Services -->
              <div class="row" style="margin-top: 15px;">
                <p>Placeholder</p>
              </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}