{% extends "service.html" %} 
{% load static %} 

{% block title %}
<title>Upload and Sign - Elastos Nucleus</title>
{% endblock title %}

{% block related_services %}
  <li>
    <a href="#">
      1st Service
    </a>
  </li>
  <li>
    <a href="#">
      2nd Service
    </a>
  </li>
  <li>
    <a href="#">
      3rd Service
    </a>
  </li>
  <li>
    <a href="#">
      4th Service
    </a>
  </li>
  <li>
    <a href="#">
      5th Service
    </a>
  </li>
{% endblock related_services %}

{% block documentation %}
  <li>
    <a href="#">One Example</a>
  </li>
  <li>
    <a href="#">Two Example</a>
  </li>
  <li>
    <a href="#">Red Example</a>
  </li>
  <li>
    <a href="#">Blue Example</a>
  </li>
{% endblock documentation %}

{% block serviceicon %}
    <img src="{% static 'images/common/upload.svg' %}"/>
{% endblock serviceicon %}
{% block servicetitle %}
    Upload and Sign
{% endblock servicetitle %}

{% block description %}
    The description of the Upload and Sign service goes here.
{% endblock description %}

{% block service %}
    {% if output %}
        <h5 class="card-title">Response:</h5>
        <p class="card-text">Message Hash :  {{ message_hash }}</p>
        <p class="card-text">Public Key : {{ public_key }}</p>
        <p class="card-text">Signature : {{ signature }}</p>
        <p class="card-text">File Hash : {{ file_hash }}</p>
        <a href="{% url "service:upload_and_sign" %}" methods="GET">
        <button class="submit-button" >
            Upload Again
        </button>
        </a>
    {% else %}
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <p class="form-header">
                    Either upload a file or fill in the "File content" field. The "File content" field will overwrite the
                    "Uploaded file" field
                </p>
            </div>
            <div class="col-md-12">
                <form class="form-group text-center" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <p>
                            <span class="form-field-label">{{ field.label_tag }}</span><br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button class="submit-button" type="submit">Upload</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock service %}


