{% extends "service.html" %} 
{% load static %} 

{% block title %}
<title>Upload and Sign - Elastos Nucleus</title>
{% endblock title %} 

{% block related %}
  <li>
    <a href="#">
      One Service
    </a>
  </li>
  <li>
    <a href="#">
      Two Service
    </a>
  </li>
  <li>
    <a href="#">
      Red Service
    </a>
  </li>
  <li>
    <a href="#">
      Blue Service
    </a>
  </li>
{% endblock related %}

{% block documentation %}
<li class="toc-entry toc-h2">
    <a href="#">One Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Two Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Red Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Blue Example</a>
  </li>
{% endblock documentation %}

{% block servicetitle %}
<h5 class="card-header">Upload and Sign</h5>
{% endblock servicetitle %} 

{% block service %}
    {% if output %}
        <h5 class="card-title">Response:</h5>
        <p class="card-text">Message Hash :  {{ message_hash }}</p>
        <p class="card-text">Public Key : {{ public_key }}</p>
        <p class="card-text">Signature : {{ signature }}</p>
        <p class="card-text">File Hash : {{ file_hash }}</p>
        <a href="{% url "service:upload_and_sign" %}" methods="GET">
        <button class="btn-default">
            Upload Again
        </button>
        </a>
    {% else %}
        <p>Either upload a file or fill in the "File content" field. The "File content"
        field will overwrite the "Uploaded file" field</p>
       <form  class="form-group" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Upload</button>
       </form>
    {% endif %}
{% endblock service %} 

{% block description %}
<p>The description of the Upload and Sign service goes here.</p>
{% endblock description %}
