{% extends "service.html" %} 
{% load static %} 

{% block title %}
<title>Verify and Show - Elastos Nucleus</title>
{% endblock title %}

{% block scripts_services %}
    <script src="{% static "/javascript/VerifyAndShow.js" %}" type="text/javascript"></script>
{% endblock %}

{% block related_services %}
  <li>
    <a href="#">
      1st Service
    </a>
  </li>
  <li>
    <a href="#">
      2nd Service
    </a>
  </li>
  <li>
    <a href="#">
      3rd Service
    </a>
  </li>
  <li>
    <a href="#">
      4th Service
    </a>
  </li>
  <li>
    <a href="#">
      5th Service
    </a>
  </li>
{% endblock related_services %}

{% block documentation %}
  <li>
    <a href="#">One Example</a>
  </li>
  <li>
    <a href="#">Two Example</a>
  </li>
  <li>
    <a href="#">Red Example</a>
  </li>
  <li>
    <a href="#">Blue Example</a>
  </li>
{% endblock documentation %}

{% block serviceicon %}
    <img src="{% static 'images/common/show.svg' %}"/>
{% endblock serviceicon %}
{% block servicetitle %}
    Verify and Show Content
{% endblock servicetitle %}

{% block description %}
    The description of the Verify and Show service goes here.
{% endblock description %}

{% block service %}
    {% if output %}
        <h5 class="card-title">Content:</h5>
        <p class="card-text">{{ content | linebreaks }}</p>
          <a href="{% url 'service:verify_and_show' %}" methods="GET">
            <button type="submit" class="btn-default">Show Again</button>
        </a>
    {% else %}
         <form class="form-group" method="post">
             {% csrf_token %}
             {{ form.as_p }}
            <button type="submit" >Submit</button>
         </form>
    {% endif %}
{% endblock service %}