{% extends "service.html" %} 
{% load static %} 

{% block title %}
<title>View Wallet - Elastos Nucleus</title>
{% endblock title %} 

{% block related %}
  <li>
    <a href="#">
      One Service
    </a>
  </li>
  <li>
    <a href="#">
      Two Service
    </a>
  </li>
  <li>
    <a href="#">
      Red Service
    </a>
  </li>
  <li>
    <a href="#">
      Blue Service
    </a>
  </li>
{% endblock related %}

{% block documentation %}
<li class="toc-entry toc-h2">
    <a href="#">One Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Two Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Red Example</a>
  </li>
  <li class="toc-entry toc-h2">
    <a href="#">Blue Example</a>
  </li>
{% endblock documentation %}

{% block servicetitle %}
<h5 class="card-header">View Wallet</h5>
{% endblock servicetitle %} 

{% block service %}
    <h5 class="card-title">Mainchain Balance</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.mainchain.as_p }}
      {% if output.mainchain %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.mainchain }}<br>
        Balance: {{ balance.mainchain }}
      </p>
      {% endif %}
      <button type="submit" name="submit_mainchain">View Wallet</button>
    </form>

    <h5 class="card-title">DID Sidechain Balance</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.did.as_p }}
      {% if output.did %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.did }}<br>
        Balance: {{ balance.did }}
      </p>
      {% endif %} 
      <button type="submit" name="submit_did">View Wallet</button>
    </form>

    <h5 class="card-title">Token Sidechain Balance</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.token.as_p }}
      {% if output.token %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.token }}<br>
        Balance: {{ balance.token }}
      </p>
      {% endif %}
      <button type="submit" name="submit_token">View Wallet</button>
    </form>

    <h5 class="card-title">ETH Sidechain Balance</h5>
    <form  class="form-group" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.eth.as_p }}
      {% if output.eth %}
      <h5 class="card-title">Response:</h5>
      <p class="card-text">
        Address: {{ address.eth }}<br>
        Balance: {{ balance.eth }}
      </p>
      {% endif %}
      <button type="submit" name="submit_eth">View Wallet</button>
    </form>
{% endblock service %} 

{% block description %}
<p>The description of the View Wallet service goes here.</p>
{% endblock description %}
