@import '../../../style/variable';
@import '../../../style/color';

.c_Popup_Notif {
    .ant-modal-body {
        padding: 0 !important;
        padding-top: $gap_5 !important;
    }
    .left-col-image img {
        max-width: 100%;
    }
    .right-col {
        padding: $gap_1 $gap_4 * 2 $gap_4 * 2;

        .title {
            font-size: 70px;
            line-height: 75px;
            text-align: center;
        }
        .changes-list {
            li {
                padding: $gap_1 0;
                list-style-image: url("/assets/images/tri-square.svg");
            }
        }
    }

    @media only screen and (max-width: $mobile-width) {
        .right-col {
            padding: $gap_1 $gap_4;
        }
    }
}
