@import '../../../../style/variable';
@import '../../../../style/color';
@import '../../../../style/typography';

.p_ProjectDetail {
    .project-slider {
        .project-icon {
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            cursor: pointer;

            .project-number {
                position: absolute;
                top: 0;
                left: -20px;
                font-weight: bold;
            }

            .base-icon, .project-avatar {
                position: absolute;
                width: 60px;
                height: 60px;
                top: 20px;
                left: 0;
            }

            &.active {
                width: 100px;
                height: 100px;

                .project-number {
                    visibility: hidden;
                }

                .base-icon, .project-avatar {
                    width: 100px;
                    height: 100px;
                    top: 0;
                }
            }

            .base-icon {
                background-image: url('/assets/images/IconBG.png');
                background-size: contain;
            }

            .project-avatar {
                z-index: 1;

                &:hover {
                    background-image: url('/assets/images/IconBG_Hover.png');
                    background-size: contain;
                }
            }
        }

        .project-name {
            padding-top: 20px + $gap_1;
            cursor: pointer;
            font-size: 12px;
            color: $text_dark_gray;

            &.active {
                visibility: hidden;
            }
        }

        .arrow {
            width: 100%;
            position: absolute;
            top: 37px;
        }
    }
    .c_Project.c_Detail {
        text-align: justify;

        .application-form {
            margin-top: $gap_2;
        }

        .project-header {
            position: relative;
            min-height: 400px;
            text-align: center;
            padding-bottom: $gap_4;

            // this floats behind the text
            .rect-container {
                z-index: 0;
                position: absolute;
                width: 100%;

                .rect {
                    position: static;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border: 38px solid #F6F9FD;
                    width: 50%;
                    height: 400px;
                }
            }
            .project-name {
                position: relative;
                padding-top: $gap_2;
                margin-bottom: $gap_2;
                z-index: 2;
                font-size: 100px;
                text-transform: uppercase;
            }
            .project-funding {
                font-size: 24px;
                font-weight: bold;
                p {
                    font-family: "Synthese", sans-serif;
                }
            }
            .strike-text {
                position: relative;
                display: inline-block;

                .strike-line {
                    position: absolute;
                    left: 0;
                    top: 24px;
                    width: 100%;
                    height: 12px;
                    background-color: #1DE9B6;
                    opacity: 0.4;
                    z-index: 0;
                }
                .strike-line:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -14px;
                    width: 14px;
                    height: 12px;
                    background-color: #1DE9B6;
                    z-index: 0;
                }
                .strike-line:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: -14px;
                    width: 14px;
                    height: 12px;
                    background-color: #1DE9B6;
                }
                p {
                    position: relative;
                    z-index: 1;
                    padding-bottom: 0;
                }
            }

            .actions {
                margin: $gap_5 auto 0;
            }
        }

        .project-header-additions {
            position: relative;
            padding-top: 95px;
        }

        .project-info {
            min-height: 400px;
            padding-bottom: $gap_4;
        }

        .project-description-1 {
            background-color: $bg_dark;
            color: white;
            padding-bottom: $gap_4;
        }

        .project-description-2 {
            padding-top: 40px;
            padding-bottom: $gap_4;
        }

        .project-application {
            text-align: center;
            min-height: 200px + $gap_4;

            .ebp-wrap{
                position: relative;
            }

            .rect-container {
                position: absolute;
                z-index: 0;
                width: 100%;

                .rect {
                    position: static;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border: 38px solid #F6F9FD;
                    width: 60%;
                    height: 200px;
                }
            }

            .apply-button {
                margin-top: 70px;
                width: 250px;
                height: 60px;
                background-color: $bg_dark;
                color: white;
                font-size: large;
                font-weight: bold;

                cursor: not-allowed;
            }
        }

        .left-box-container {
            position: absolute;
            left: $gap_5;

            img {
                position: absolute;
                top: 50%;
                width: 100px;
                height: 100px;
                display: block;
            }
        }

        .right-box-container {
            position: absolute;
            z-index: 0;
            top: $gap_4;
            right: $gap_2;

            .box {
                margin-left: 50px;
            }
            img {
                position: absolute;
                z-index: 1;
                top: 62.5px;
                left: 62.5px;
                width: 75px;
                height: 75px;
            }
        }

        .small-box {
            width: 50px;
            height: 50px;
            background-color: $bg_blue;
        }

        .box {
            width: 100px;
            height: 100px;
            background-color: $bg_blue;
        }

        .rectangle {
            width: 33%;
            height: 40px;
            background-color: $bg_dark;
        }

        .rectangle-long {
            width: 67%;
        }

        .project-likes {
            margin-top: -64px;
            color: $primary_color;
        }

        .project-name {
            font-size: 36px;
            padding-top: $gap_0;
        }

        .footer {
            margin-top: $gap_3;
        }

        .description {
            margin-top: $gap_3;
        }

        h3 {
            @extend .komu-a;
            color: $cr100_green;
            font-size: 50px;
        }

        .submit-button {
            @extend .komu-a;
            background: $text_new_gray;
            color: $cr100_green;
            margin-top: $gap_3;
        }

        .project-detail-nobar {
            .ant-modal-close {

            }
        }
    }
}
