.scan-qr-box {
  width: 496px;
  height: 700px;
  border-radius: 8px;
  box-shadow: 0 2px 120px 0 rgba(0, 0, 0, 0.5);
}

.login-header {
  height: 74px;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.scan-qr-text {
  height: 64px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.scan-qr-wait {
  height: 21px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.form-field-label {
  width: 36px;
  height: 22px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  color: #6b7998;
}

.register-button {
  width: 464px;
  height: 44px;
  border-radius: 1px;
  background-color: #00dd62;
}

.feed-carousel {
  background-color: #181b22;
}

.feed-carousel h2 {
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-family: Overpass;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.feed-carousel p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  color: #ffffff;
}

.console-services {
  border-radius: 8px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #242a37;
  margin: 30px;
  padding: 15px;
}

.console-services-title {
  font-family: 'Overpass';
  color: #8ea2cf;
}

.console-services-name {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-family: Overpass;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 125px;
}

.console-services-image {
  float: left;
  margin: 20px 20px;
}

.console-services-category {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  color: #ffffff;
}

.most-viewed {
  width: 418px;
  border-radius: 4px;
  background-color: rgba(107, 121, 152, 0.24);
  padding: 20px;
  margin-top: 30px;
}

.most-viewed h5 {
  opacity: 0.5;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: normal;
  color: #ffffff;
}

.most-viewed a {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-family: Overpass;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.code-button {
  border-radius: 2px;
  background-color: #ECECEC;
}

.code-button.available {
  background-color: #00dd62;
}

.divider {
  height: 1px;
  opacity: 0.5;
  background-color: #6b7998;
  margin: 20px;
}

.activity-feed {
  width: 418px;
  border-radius: 4px;
  background-color: rgba(107, 121, 152, 0.24);
  padding: 20px;
  margin-top: 30px;
}

.activity-feed p {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-family: Overpass;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}