* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242a37;
}

header {
    background-color: #181b22;
    color: #ffffff;
}

img {
  object-fit: contain;
}

.footer {
  background-color: #181b22;
  position: relative;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer .link {
  width: 224px;
  height: 40px;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.footer .copyright {
  width: 311px;
  height: 22px;
  opacity: 0.5;
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.logo-converted {
  width: 232px;
  height: 30px;
  object-fit: contain;
}