@import "@/style/variable";
@import "@/style/color";

.p_SuggestionDetail {
  margin-top: 44px;
  margin-left: 220px;
  .detail-title {
    font-size: 30px;
    color: $primary_dark_color;
    margin-top: 26px;
    margin-bottom: 18px;
  }
  .detail-desc {
    color: black;
  }
  .c_SuggestionActions {
    margin-top: 27px;
    margin-bottom: 50px;
  }
}