{
  "Magic": 20180011,
  "SpvMagic": 2018001,
  "Version": 23,
  "SeedList": [
    "did-testnet-001.elastos.org:21608",
    "did-testnet-002.elastos.org:21608",
    "did-testnet-003.elastos.org:21608",
    "did-testnet-004.elastos.org:21608",
    "did-testnet-005.elastos.org:21608"
  ],
  "SpvSeedList": [
    "node-testnet-002.elastos.org:21866",
    "node-testnet-003.elastos.org:21866",
    "node-testnet-004.elastos.org:21866"
  ],
  "MainChainFoundationAddress": "8ZNizBf4KhhPjeJRGpox6rPcHE5Np6tFx3",
  "FoundationAddress": "8NRxtbMKScEWzW8gmPDGUZ8LSzm688nkZZ",
  "PrintSyncState": true,
  "MainChainDefaultPort":10338,
  "SpvMinOutbound": 3,
  "SpvMaxConnections": 10,
  "ExchangeRate": 1.0,
  "MinCrossChainTxFee": 10000,
  "HttpInfoPort": 21603,
  "HttpInfoStart": true,
  "HttpRestPort": 21604,
  "HttpWsPort": 21605,
  "WsHeartbeatInterval": 60,
  "HttpJsonPort": 21606,
  "NoticeServerUrl": "",
  "OauthServerUrl": "",
  "NodePort": 21608,
  "NodeOpenPort": 21607,
  "OpenService": true,
  "PrintLevel": 1,
  "MaxLogsSize": 0,
  "MaxPerLogSize": 0,
  "IsTLS": false,
  "CertPath": "./sample-cert.pem",
  "KeyPath": "./sample-cert-key.pem",
  "CAPath": "./sample-ca.pem",
  "MultiCoreNum": 4,
  "MaxTransactionInBlock": 10000,
  "MaxBlockSize": 8000000,
  "ConsensusType": "pow",
  "PowConfiguration": {
    "PayToAddr": "EPCQFq9buN6RGHdVDxZn7sEZxAnV6dQpcV",
    "AutoMining": false,
    "MinerInfo": "DID-2",
    "MinTxFee": 100,
    "ActiveNet": "MainNet"
  }
}
