Django>=2.2.6
virtualenv>=16.7
requests==2.22.0
psycopg2-binary==2.8.4
gunicorn==20.0.0
python-decouple==3.1
qrcode==6.1
Pillow==6.2.1
-e git+https://github.com/dprog-philippe-docourt/django-qr-code.git@d8811b7e05b1beff466c7800007b603c3c1eae7f#egg=django_qr_code