-----BEGIN EC PRIVATE KEY-----
MxxxxxEEIOsd/4TO8zjmmd+ZCrlC0jKFVN1RqliRSWXOOJHRJm8LoAoGCCqGSM49
AwEHoUQDQgAEPj3w0pTBntKaPoOiFkj3/G75wTY8ff/Hs2UOHwjZgDIcp5DUJEtj
e8sJIQDri0KgJaUdZJaPaNasermMZxxxxx==
-----END EC PRIVATE KEY-----
