# SERVER
SERVER_PORT=3000

# DB
DB_URL=mongodb://127.0.0.1:27017/EBP

# Forum SSO Secret
SSO_SECRET=YOUR_SSO_SECRET

# Google Translation
TRANSLATION_PROJECT_ID=YOUR_TRANSLATION_PROJECT_ID
TRANSLATION_KEY_FILE=YOUR_TRANSLATION_KEY_FILE