@import "@/style/variable";
@import "@/style/color";

.p-cvote-list{
  text-align: center;
  margin: 50px 108px 80px 108px;
  @media only screen and (max-width: $mobile-width) {
    margin: 15px;
  }
  .title {
    font-size: 96px;
    text-align: left;
  }
  .d_box {
    // padding: 0 50px 80px;
    // width: 80vw;
    // margin: 80px auto 0;
    background: #ffffff;
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .vote-status-list {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
  }
  .vote-status-item {
    flex: 0 0 10px;
    height: 10px;
    box-sizing: border-box;
    margin-right: 2px;
    margin-left: 10px;

    &.undecided {
      background: #CED6E3;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("/assets/images/bg-line.png") 0 0 repeat;
      }
    }
    &.abstained {
      background: #0F2631;
    }
    &.yes {
      margin-left: 0;
      background: $cr_primary_highlight;
    }
    &.no {
      background: #BE1313;
    }
  }
}