
@import "../../../style/variable";
@import "../../../style/color";

.c_ConstitutionContainer {
  padding-left: 10px;
  background: url(/assets/images/bg-square-sm.png) no-repeat;

  .content {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 20px;
    font-family: "synthese",sans-serif;

    @media only screen and (max-width: $mobile-width) {
      margin-right: 10px;
      margin-left: 10px;
    }

    .title {
      font-family: "komu-a", sans-serif;
      line-height: normal;
      font-size: 50px;
      color: #031E28;
    }

    ol {
      margin-left: 50px;
    }

    text-align: left;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    margin-top: 20px;

    strong{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        display: block;
    }

    center{
        font-size: 20px;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 5px;
    }

    ol{
        padding-left: 40px;


    }
    ul{
        list-style: none;
    }

    table{
        margin: 8px 0 12px 40px;
        td{
            border: 1px solid #ccc;
            padding: 8px 18px;
        }
    }
  }
}
